@media screen and (max-width: 1160px) {
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 979px) {
	.wow, .animated{
		animation-duration: 0s !important;
	    animation-delay: 0s !important;
	}
}

@media screen and (max-width: 799px) {
	
}

@media screen and (max-width: 767px) {
	
}

@media screen and (max-width: 639px) {
	
}

@media screen and (max-width: 479px) {
}

@media screen and (max-width: 359px) {
	
}