

$font-primary: 'Segoe UI';
$font-secondary: 'Segoe UI';
$font-support: '';

$color-primary: #2d3239;
$color-secondary: #444;

$color-main: #00a681;
$color-mainr: #00dfad;

$color-001: #b7d957;
$color-002: #95b746;
$color-003: #ff7200;
$color-004: #c73800;
$color-005: #F19319;

$cl-001: #fff;
$cl-002: #000;
$cl-003: #aaa;
$cl-004: #bbb;
$cl-005: #ccc;
$cl-006: #d9d9d9;
$cl-007: #e5e5e5;
$cl-008: #f6f6f6;
$cl-009: #333;
$cl-010: #888;


$font-size: 16px;
$line-height: 24px;
$top: 50%; 




.list_format {
    li:first-child {
        margin: 0;
        padding: 0;
        border: 0;
    }
}
.list_reset {
    list-style: none;
    padding: 0;
    li{
        list-style: none;
    }
    ul, ol {
        list-style: none;
        padding: 0;
    }
}

.clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.transition {
    transition: all .3s, visibility 0s;
    -ms-transition: all .3s, visibility 0s;
    -webkit-transition: all .3s, visibility 0s;
    -moz-transition: all .3s, visibility 0s;
}

.fa {
    display: inline-block;
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 
.ti {
    font-family: 'themify' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text_format {
    font-size: $font-size;
    line-height: $line-height;
    font-style: normal;
}



@mixin list_format($margin, $padding, $border) {
    li:first-child {
        margin: $margin;
        padding: $padding;
        border: $border;
    }
}

@mixin list_t($margin-t, $padding-t, $border-t) {
    margin-top: $margin-t;
    padding-top: $padding-t;
    border-top: $border-t; 
}

@mixin list_r($margin-r, $padding-r, $border-r) {
    margin-right: $margin-r;
    padding-right: $padding-r;
    border-right: $border-r;
}

@mixin list_b($margin-b, $padding-b, $border-b) {
    margin-bottom: $margin-b;
    padding-bottom: $padding-b;
    border-bottom: $border-b;
}
@mixin list_l($margin-l, $padding-l, $border-l) {
    margin-left: $margin-l;
    padding-left: $padding-l;
    border-left: $border-l;
}

@mixin icon($width, $height, $line-height, $font-size) {
    display: inline-block;
    text-align: center;
    width: $width;
    height: $height;
    line-height: $line-height;
    font-size: $font-size;
}

@mixin button($width, $height, $line-height, $font-size, $top) {
    text-align: center;
    width: $width;
    height: $height;
    line-height: $line-height;
    font-size: $font-size;
    position: absolute;
    top: $top;
    margin-top: -$height / 2;
    margin-left: -$width / 2;
}



@mixin before-left($top,$bottom,$right,$color,$topp) {
    content: '';
    position: absolute;
    border-top: $top solid transparent;
    border-bottom: $bottom solid transparent;
    border-right: $right solid $color;
    top: $topp;
    left: -$right;
}

@mixin before-right($top,$bottom,$left,$color,$topp) {
    content: '';
    position: absolute;
    border-top: $top solid transparent;
    border-bottom: $bottom solid transparent;
    border-left: $left solid $color;
    top: $topp;
    right: -$left;
}

@mixin before-bottom($left,$right,$top,$color,$bottom) {
    content: '';
    position: absolute;
    border-left: $left solid transparent;
    border-right: $right solid transparent;
    border-top: $top solid $color;
    bottom: $bottom;
    left: 50%;
    margin-left: -$left;
}

@mixin before-top($left,$right,$bottom,$color,$top) {
    content: '';
    position: absolute;
    border-left: $left solid transparent;
    border-right: $right solid transparent;
    border-bottom: $bottom solid $color;
    top: $top;
    left: 50%;
    margin-left: -$left;
}

@mixin transition($time) {
    transition: all $time, visibility 0s;
    -ms-transition: all $time, visibility 0s;
    -webkit-transition: all $time, visibility 0s;
    -moz-transition: all $time, visibility 0s;
}


@mixin transform($transformx) {
    -webkit-transform: $transformx;
    -moz-transform: $transformx;
    -ms-transform: $transformx;
    -o-transform: $transformx;
    transform: $transformx;
}

@mixin scale($scale) {
    @include transform(scale($scale));
}

@mixin skew($skew) {
    @include transform(skew($skew));
}

@mixin rotate($rotate) {
    @include transform(rotate($rotate));
}

@mixin translateX($translateX) {
    @include transform(translateX($translateX));
}

@mixin translateY($translateY) {
    @include transform(translateY($translateY));
}

@mixin text_format($font-family, $font-size, $line-height, $font-weight) {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

@mixin transform-origin($x, $y) {
    -webkit-transform-origin : $x $y;
       -moz-transform-origin : $x $y;
        -ms-transform-origin : $x $y;
         -o-transform-origin : $x $y;
            transform-origin : $x $y;
}