
/*--- sass ---*/ 

@import "sass/style-sass";

/*------*/


/**
 *
 *

1.2.1 Default Structure Tag

1.2.2 Basic Structure Class

1.2.3 Custom Layout

1.2.4 Default Article

1.2.5 Default Module

1.2.6 Elements

 
 * 
 **/

/*___________ 1.2.1 Default Structure Tag ___________*/


::selection {
    background: $color-primary;
    color: $cl-001;
    text-shadow: none;
}
::-moz-selection {
    background: $color-primary;
    color: $cl-001;
    text-shadow: none;
}
*{
    position: relative;
    &:last-child{
        margin-bottom: 0;
    }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font-primary;
    color: $color-primary;
    font-weight: 700;
    display: block;
    margin: 0 0 10px;   
    &:last-child{
        margin-bottom: 0;
    }
}

h1,
.h1 {
    font-size: 42px;
    line-height: 50px;
}

h2,
.h2 {
    font-size: 36px;
    line-height: 44px;
}

h3,
.h3 {
    font-size: 28px;
    line-height: 36px;
}

h4,
.h4 {
    font-size: 24px;
    line-height: 32px;
}

h5,
.h5 {
    font-size: 18px;
    line-height: 26px;
}

h6,
.h6 {
    font-size: 16px;
    line-height: 24px;
}

a {
    color: $color-primary;
    @extend .transition;
    text-decoration: none !important;
    outline: none !important;
    &:hover,
    &:focus,
    &.active {
        @extend .main_color;
    }
}

ol {
    counter-reset: item;
    display: block;
    margin: 5px 0;
    padding: 0 0 0 40px;
}

ul {
    list-style: square;
    margin: 5px 0px;
}

ul li {
    list-style: inside square;
}

ul li > ol > li {
    list-style: inside decimal;
}

ol li ol li,
ul li ol li ol li {
    list-style: lower-alpha inside none;
}

ol li {
    list-style: inside decimal;
}

ol li > ul,
ul li > ol {
    margin-left: 10px;
}

ol li > ul > li {
    list-style: inside square;
}

textarea {
    resize: vertical;
}

img {
    max-width: 100%;
    height: auto;
}

input, select, button, textarea {
    outline: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    @extend .transition;
}

cite,
em,
var,
address,
dfn {
    font-style: italic;
}

i {
    font-style: normal;
}

p {
    i {
        font-style: italic;
    }
}

iframe {
    border: none;
    width: 100%;
    &.style-01{
        height: 400px;
        @media screen and (max-width: 639px){ 
            height: 200px;
        }
    }
}

// blockquote{
//     border-left: 0px;
// }

::-webkit-input-placeholder {
    color: $color-secondary;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $color-secondary;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $color-secondary;
}

:-ms-input-placeholder {
    color: $color-secondary;
}

html {
    overflow-x: hidden;
}

body {
    font-family: $font-secondary;
    @extend .text_format;
    color: $color-secondary;
    background: $cl-001;
    overflow: hidden;
    @media screen and (max-width: 479px){ 
        font-size: 14px;
        line-height: 22px;
    }
}
.main-container{
    background: $cl-001;
    @include transition(.1s ease-in-out);
    &.scale-down{
        @include transition(.4s ease-in-out);
    }
} 
.body-overlay{
    position: fixed; 
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: rgba(255,255,255, 0.4);
    @include transition(.1s ease-in-out);
    z-index: -1;
    &.active{
        z-index: 99999999;
        @include transition(.4s ease-in-out);
    }
}
.body-background{
    @extend .body-overlay;
    background: $cl-002;
    z-index: -2;
}

/*___________ 1.2.2 Basic Structure Class ___________*/


.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 1500px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    @extend .clearfix;
    @media screen and (max-width: 1600px) {
        width: 100%;
        padding: 0 30px;
    }
    @media screen and (max-width: 1160px) {
        padding: 0 10px;
    }
}

.loading {
    background: url("images/background/bg/white/9.png");
    background: rgba(255, 255, 255, 0.9);
    min-height: 602px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    > i {
        font-size: 30px;
        color: $color-primary;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translateX(-50%) translateY(-50%));
    }
}
div[class*="aod-module-slider"]{
    .loading{
        position: relative;
    }
    .slider-pro{
        display: none;
    }
}
div[class*="aod-carousel"]{
    @extend div[class*="aod-module-slider"];
}

/*--- layout ---*/

.area-01{
    height: 500px;
}


/*--- aod-pagination ---*/

.aod-pagination {
    @extend .list_reset;
    @extend .clearfix;
    margin-top: 60px;
    @media screen and (max-width: 639px){ 
        margin-top: 30px;
    }
    .nav-links {
        padding: 0;
        margin: -10px -7px 0;
        a,span {
            display: inline-block;
            float: left;
            margin: 10px 7px 0;
        }
        a {
            @extend .main_color;
            &:hover {
                color: $color-primary;
            }
        }
    }
    display: none;
}


/*--- div ---*/

.aod-div{
    @extend .module;
    .aod-content{
        @extend .module-content;
    }
}

/*--- owl-button ---*/

.owl-theme {
    .owl-controls {
        margin: 0;
        position: static;
        .owl-buttons {
            position: static;
            div {
                color: $cl-001;
                @extend .main_bg_color;
                padding: 0;
                margin: 0;
                border-radius: 0;
                @include button(30px, 30px, 30px, 16px, $top);
                margin: 0;
                @include translateY(-50%);
                opacity: 1;
                @include transition(0.3s);
                &:before{
                    transition: all 0s, visibility 0s !important;
                    -ms-transition: all 0s, visibility 0s !important;
                    -webkit-transition: all 0s, visibility 0s !important;
                    -moz-transition: all 0s, visibility 0s !important;
                }
                &:hover {
                    color: $cl-001;
                    background: $color-primary;
                }
                &.owl-prev {
                    left: 0;
                    padding-right: 2px;
                    &:before {
                        content: "\f104";
                        @extend .fa;
                    }
                }
                &.owl-next {
                    right: 0;
                    padding-left: 2px;
                    &:before {
                        content: "\f105";
                        @extend .fa;
                    }
                }
            }
        }
        .owl-pagination {
            text-align: center;
            margin: 20px 0 0;
            .owl-page {
                span {
                    width: 10px;
                    height: 10px;
                    margin: 10px 5px 0;
                    background: none;
                    border-width: 1px;
                    border-style: solid;
                    @extend .main_bd_color;
                    border-radius: 50%;
                    @extend .transition;
                    opacity: 1;
                }
                &.active span,
                &:hover span {
                    @extend .main_bg_color;
                }
            }
        }
    }
}
.owl-btn-1{
    .owl-controls {
        .owl-pagination {
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 30px;
            .owl-page {
                span {
                    width: 14px;
                    height: 14px;
                    margin: 10px 7px 0;
                    border-color: #fff !important;
                }
            }
        }
    }
}
.owl-btn-2{
    .owl-controls {
        .owl-buttons {
            div {
                font-size: 24px;
                color: #bbb;
                background: $cl-008 !important;
                width: 45px;
                height: 100%;
                &:before{
                    position: absolute;
                    top: 50%;
                    @include translateY(-50%);
                }
                &:hover {
                    @extend .i_main_bg_color;
                }
                &.owl-prev {
                    left: -45px;
                    padding-right: 9px;
                }
                &.owl-next {
                    right: -45px;
                    padding-right: 8px;
                }
            }
        }
    }
    &:hover{
        .owl-controls{
            .owl-buttons {
                div {
                    &.owl-prev {
                        left: 15px;
                    }
                    &.owl-next {
                        right: 15px;
                    }
                }
            }
        }
    }
}



/*--- masonry ---*/

.masonry-filter{
    margin: -20px -5px 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-transform: capitalize;
    color: $color-primary;
    margin-bottom: 45px;
    span, a{ 
        display: inline-block;
        margin: 20px 8px 0;
    }
    a{ 
        color: $color-secondary;
        padding: 0 6px;
        @include transition(.5s ease);
        &:hover, &.active{
            background: $color-primary;
        }
    }
}
.masonry-container{
    margin-top: -30px;
    > *{
        margin-top: 30px;
    }
}
[class*='ms-item-'].col-md-3{
    width: 24.95%;
}

/*--- google maps ---*/

.aod-map {
    width: 100%;
    height: 600px;
    @media screen and (max-width: 979px){ 
        height: 500px;
    }
    @media screen and (max-width: 479px){ 
        height: 300px;
    }
}

/*--- social links ---*/

.aod-social-links {
    ul {
        @extend .list_reset;
        @extend .clearfix;
        position: relative;
        margin: -10px -15px 0;
        li {
            display: inline-block;
            position: relative;
            margin: 10px 15px 0;
            font-family: $font-primary;
            line-height: 1em;
            a {
                font-size: 15px;
                line-height: 1em;
            }
        }
    }
}
.aod-social-links.style-01 {
}


/*--- element-wrap ---*/

.element-wrap{
    > .row{
        margin-top: 90px;
        &:first-child{
            margin-top: 0;
        }
    }
}
.element-title{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 45px;
    text-transform: uppercase;
}

/*--- sticky post ---*/

.sticky {
    position: relative;
}
.sticky-post-icon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px 16px;
    @extend .main_bg_color;
}
.sticky-post-icon i {
    font-size: 16px;
    color: $cl-001;
}
.entry-title .sticky-post-icon{
    position: relative;
    top: auto;
    left: auto;
    padding: 0;
    margin-left: 5px;
    background: none !important;
}
.entry-title .sticky-post-icon i{
    @extend .main_color;
    font-size: 20px;
}

/*--- popup ---*/

[class*="popup-"]{
    cursor: pointer;
}
.mfp-content{
    button{
        background: none;
    }
}

/*--- hide ---*/

.aod-desktop-hide{
    @media screen and (max-width: 1400px){ 
        display: none;
    }
}
.aod-desktopSmall-hide{
    @media screen and (max-width: 1023px){ 
        display: none;
    }
}
.aod-tablet-hide{
    @media screen and (max-width: 800px){ 
        display: none;
    }
}
.aod-mobile-hide{
    @media screen and (max-width: 639px){ 
        display: none;
    }
}

/*--- logo ---*/

.aod-logo{
    .site-title{
        font-size: 26px;
        line-height: 32px;
        text-transform: capitalize;
        margin: 0;
    }
    p{
        font-size: 16px;
        line-height: 24px;
    }
}
.white-text-style{
    .aod-logo{
        .site-title{
            color: $cl-001;
            a{
                color: $cl-001;
                &:hover{
                    @extend .main_color;
                }
            }
        }
        p{
            color: rgba(255,255,255,.5);
        }
    }
}


/*--- list ---*/

.aod-mh:not([class*='aod-row']){
    margin-top: -30px;
    > *{
        margin-top: 30px;
    }
}


/*--- button ---*/

.aod-btn-1{
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 38px;
    color: #fff;
    @extend .main_bg_color;
    &:hover{
        background: #000;
    }
    @media screen and (max-width: 979px){ 
        font-size: 12px;
        padding: 6px 20px;
    }
    @media screen and (max-width: 767px){ 
        font-size: 11px;
        padding: 2px 10px;
    }
}
.aod-btn-2{
    @extend .aod-btn-1;
    background: #2b2b2b !important;
    &:hover{
        background: #000 !important;
    }
}
.aod-btn-3{
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    padding: 19px 64px;
    border: 1px solid;
    @extend .main_bd_color;
    @media screen and (max-width: 639px){ 
        font-size: 12px;
        padding: 8px 25px;
    }
    &:hover{
        @extend .main_bg_color;
        color: #fff;
    }
}
.aod-btn-4{
    
}


/*--- row ---*/

.aod-row-1{
    margin: 0 !important;
    > *{
        margin: 0 !important;
        padding: 0 !important;
    }
}
.aod-row-2{
    margin: 0 -45px !important;
    overflow: hidden;
    > *{
        padding: 0 45px;;
        margin: 0;
        position: relative;
        &:before{
            content: '';
            display: inline-block;
            position: absolute;
            top: 30px;
            left: -1px;
            width: 1px;
            height: calc(100% - 30px);
            background: $cl-006;
        }
    }
    @media screen and (max-width: 979px){ 
        margin: 0 -30px !important;
        > *{
            padding: 0 30px;
        }
    }
    @media screen and (max-width: 979px){ 
        margin: 0 -20px !important;
        > *{
            padding: 0 20px;
        }
    }
    @media screen and (max-width: 767px){ 
        margin: 0 !important;
        > *{
            width: 100%;
            padding: 20px 0 0;
            border-top: 1px solid $cl-006;
            margin: 20px 0 0 !important;
            &:before{
                display: none;
            }
            &:first-child{
                @include list_t(0 !important, 0, none);
            }
        }
    }
}
.aod-row-3{
    margin-left: -75px;
    margin-right: -75px;
    > *{
        padding-left: 75px;
        padding-right: 75px;
    }
    @media screen and (max-width: 1160px){ 
        margin-left: -25px;
        margin-right: -25px;
        > *{
            padding-left: 25px;
            padding-right: 25px;
        }
    }
    @media screen and (max-width: 979px){ 
        margin-left: -10px;
        margin-right: -10px;
        > *{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
.aod-row-4{
    margin-left: -45px;
    margin-right: -45px;
    > *{
        padding-left: 45px;
        padding-right: 45px;
    }
    @media screen and (max-width: 1160px){ 
        margin-left: -20px;
        margin-right: -20px;
        > *{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    @media screen and (max-width: 979px){ 
        margin-left: -10px;
        margin-right: -10px;
        > *{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
.aod-row-5{
    margin-left: 0;
    margin-right: 0;
    > *{
        padding-left: 0;
        padding-right: 0;
        .module{
            padding-left: 60px;
            margin-left: -1px;
        }
        &:first-child{
            .module{
                margin-left: 0;
                padding-left: 0;
                padding-right: 60px;
            }
        }
    }
    .module-article-list-1{
        > ul{
            &:before{
                content: '';
                display: inline-block;
                position: absolute;
                top: 0;
                right: -60px;
                width: 1px;
                height: 100%;
                background: $cl-006;
            }
        }
    }
    .module-article-list-2{
        > ul{
            &:before{
                content: '';
                display: inline-block;
                position: absolute;
                top: 0;
                left: -60px;
                width: 1px;
                height: 100%;
                background: $cl-006;
            }
        }
    }
    @media screen and (max-width: 1160px){ 
        > *{
            width: 100%;
            margin-top: 90px;
            &:first-child{
                margin-top: 0;
            }   
            .module{
                padding: 0 !important;
                margin: 0 !important;
            }
        }
        .module-article-list-1{
            > ul{
                &:before{
                    display: none;
                }
            }
        }
        .module-article-list-2{
            > ul{
                &:before{
                    display: none;
                }
            }
        }
    }
}
.aod-row-6{
    margin-left: -35px;
    margin-right: -35px;
    > *{
        padding-left: 35px;
        padding-right: 35px;
    }
    @media screen and (max-width: 1160px){ 
        margin-left: -20px;
        margin-right: -20px;
        > *{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    @media screen and (max-width: 979px){ 
        margin-left: -10px;
        margin-right: -10px;
        > *{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
.aod-row-7{
    margin-left: -25px;
    margin-right: -25px;
    > *{
        padding-left: 25px;
        padding-right: 25px;
    }
    @media screen and (max-width: 979px){ 
        margin-left: -10px;
        margin-right: -10px;
        > *{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
.aod-row-8{
    margin-left: -60px;
    margin-right: -60px;
    > *{
        padding-left: 60px;
        padding-right: 60px;
    }
    @media screen and (max-width: 1160px){ 
        margin-left: -20px;
        margin-right: -20px;
        > *{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    @media screen and (max-width: 979px){ 
        margin-left: -10px;
        margin-right: -10px;
        > *{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

/*--- list ---*/

[class*='aod-list']{
    @extend .list_reset;
}

.aod-list-1{
    line-height: 26px;
    > *{
        padding-left: 30px;
        &:before{
            content: '';
            display: inline-block;
            position: absolute;
            top: 10px;
            left: 0;
            width: 8px;
            height: 8px;
            background: #b5b5b5;
        }
    }
}
.aod-list-2{
    margin-top: -15px !important;
    > * {
        margin-top: 15px !important;
        float: left;
        @extend .clearfix;
        i{
            font-size: 25px;
            color: #888;
            float: left;
            margin-right: 25px;
            min-width: 30px;
            text-align: center;
        }
    }
}
.aod-list-3{
    margin-top: -15px;
    > * {
        margin-top: 15px;
        padding-left: 38px;
        @media screen and (max-width: 979px){ 
            padding-left: 20px;
        }
        &:before{
            content:'';
            display: inline-block;
            position: absolute;
            top: 9.5px;
            left: 0;
            width: 6px;
            height: 6px;
            background: #888;
            border-radius: 50%;
        }
    }
}
.aod-list-4{
    margin: -22px -15px 0;
    > * {
        margin: 22px 15px 0;
        padding-left: 38px;
        display: inline-block;
        img{
            width: 25px;
            position: absolute;
            top: 0px;
            left: 0;
        }
    }
}
.aod-list-5{
    margin-top: -15px;
    > * {
        margin-top: 15px;
        @extend .clearfix;
        i{
            font-size: 25px;
            color: #888;
            float: left;
            margin-right: 15px;
            min-width: 30px;
            text-align: center;
        }
    }
}


/*--- col---*/

.aod-col-1{
    float: left;
    width: 20%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/*--- table ---*/

table{
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    th, td{
        padding: 10px 12px;
        border-top: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
    }
}

/*--- form ---*/

.form-box {
    margin: 0 0 0;
    form{
        > .row{
            > div{
                @media screen and (max-width: 639px){ 
                    width: 100%;
                }
            }
        }
    }
    .input-block,
    .textarea-block {
        position: relative;
        margin: 20px 0 0;
        overflow: hidden;
        &.first-child{
            margin: 0;
        }
    }
    .textarea-block {
        label.error {
            // top: -2px;
        }
    }
    .btn-block{
        margin-top: 20px;
    }
    .input-block {
        &:first-child {
            margin-top: 0;
        }
    }
    input,
    textarea {
        display: block;
        border:none;
        box-shadow: none;
        margin: 0;
        background: #686868;
        color: rgba(255,255,255,.5);
        padding: 0 15px;
        height: 38px;
        line-height: 38px;
        font-size: 13px;
        text-transform: uppercase;
        width: 100%;
        @extend .transition;
        &[type="submit"] {
            @extend .transition;
            border: none !important;
            outline: none !important;
            padding: 0 66px;
            @extend .main_bg_color;
            width: auto;
            height: 38px;
            line-height: 38px;
            font-weight: 300;
            color: #fff;
            &:hover {
                background: #000;
            }
            @media screen and (max-width: 479px){ 
                width: 100%;
                padding: 0 15px;
                text-align: center;
            }
        }
        &:focus {
            outline: 0;
        }
    }
    textarea {
        width: 100%;
        padding: 9px 15px;
        height: auto;
        line-height: 22px;
    }
    label.error {
        color: $color-003;
        position: absolute;
        top: 0;
        right: 15px;
        margin: 0;
        line-height: 38px;
        font-weight: 300;
        text-transform: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255,255,255,.4);
    }
    :-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255,255,255,.4);
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255,255,255,.4);
    }
    :-ms-input-placeholder {
        color: rgba(255,255,255,.4);
    }
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #686868 inset !important;
        -webkit-text-fill-color: #fff !important;
    }
    .sent{
        input:-webkit-autofill {
            -webkit-text-fill-color: rgba(255,255,255,.5) !important;
        }
    }
}

 
/*--- breadcrumb ---*/

.aod-breadcrumb {
    h2{
        font-size: 64px;
        line-height: 72px;
        font-weight: 300;
        text-transform: capitalize;
        @media screen and (max-width: 1160px){ 
            font-size: 56px;
            line-height: 64px;
        }
        @media screen and (max-width: 979px){ 
            font-size: 40px;
            line-height: 48px;
        }
        @media screen and (max-width: 639px){ 
            font-size: 24px;
            line-height: 32px;
        }
    }
}


/*--- item ---*/

.bf_ct{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sj-bg-item{
    @extend .white-text-style;
    &:before{
        @extend .bf_ct;
        content: '';
        display: block !important;
        background: #000;
        opacity: .6;
    }
    > *{
        position: relative;
    }
}

/*--- icon ---*/

[class*="aod-icon-"]{
    @extend .transition;
}

/*--- aod-more-link ---*/

[class*='aod-more-link']{
    margin-top: 90px;  
    @media screen and (max-width: 1160px){ 
        margin-top: 60px;
    } 
    @media screen and (max-width: 639px){ 
        margin-top: 30px;
    } 
}
.aod-more-link-1{
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    min-height: 54px;
    padding-top: 15px;
    @media screen and (max-width: 979px){ 
        padding-right: 33px;
    }
    @media screen and (max-width: 639px){ 
        padding-right: 75px;
    }
    a{
        display: inline-block;
        @extend .main_color;
        padding: 0 18px;
        &:before, &:after{
            content: '';
            display: inline-block;
            position: absolute;
            top: 10px;
            left: -10000px;
            width: 10000px;
            height: 1px;
            background: $cl-006;
        }
        &:after{
            left: auto;
            right: -10000px;
        }
        &:hover{
            color: #000;
        }
        span{
            display: block;
            position: absolute;
            top: -16px;
            right: -66px;
            width: 54px;
            height: 54px;
            border-left: 1px solid $cl-006;
            &:before, &:after{
                content: '';
                display: block;
                position: absolute;
                top: 13px;
                left: -4px;
                width: 60px;
                height: 1px;
                background: $cl-006;
                @include rotate(26deg);
            }
            &:after{
                top: auto;
                bottom: 14px;
                left: -4px;
                @include rotate(-26deg);
            }
        }
    }
}
.white-text-style{
    .aod-more-link-1{
        a{
            color: #fff !important;
            &:before, &:after{
                background: rgba(255,255,255,.3);
            }
            span{
                border-left-color: rgba(255,255,255,.3);
                &:before, &:after{
                    background: rgba(255,255,255,.3);
                }
            }
        }
    }
}

/*--- js-custom ---*/

.sj-ltr{
    display: none;
    &.active{
        display: block;
    }
}
.sj-cvt{
    @extend .sj-ltr;
}
div[class*="sj-scroll"]{
    @extend .list_reset;
    .module-content{
        .sj-scroll-list{
            @extend .clearfix;
            display: none;
        }
        &.mCustomScrollbar{
            .sj-scroll-list{
                display: block;
            }
        }
    }
}

/* dropdown */

.sj-dropdown-btn{
    cursor: pointer;
}
.sj-dropdown-content{
    // display: none;
}


/*___________ 1.2.3 Custom Layout ___________*/

.aod-area {
    @extend .clearfix;
    padding: 140px 0;
    position: relative;
    > .container {
        position: relative;
        z-index: 9; 
        .module {
            &:last-child {
                margin-bottom: 140px;
            }
        }
        > .row{
            .module {
                margin-bottom: 140px;
            }
        }
        &:last-child{
            .module {
                &:last-child {
                    margin-bottom: 0;
                }
            }
            > .row{
                .module {
                    margin-bottom: 140px;
                }
                &:last-child {
                    .module {
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .module {
        &:last-child {
            margin-bottom: 0;
        }
    }    
    @media screen and (max-width: 1160px){ 
        padding: 90px 0;
        > .container {
            .module {
                &:last-child {
                    margin-bottom: 90px;
                }
            }
            > .row{
                .module {
                    margin-bottom: 90px;
                }
            }
            &:last-child{
                .module {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                > .row{
                    .module {
                        margin-bottom: 90px;
                    }
                    &:last-child {
                        .module {
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    } 
    @media screen and (max-width: 979px){
        .module-header{
            br{
                display: none;
            }
        }
        > .container {
            > .row{
                >*{
                    width: 100%;
                    margin-top: 90px;
                    @media screen and (max-width: 639px){ 
                        margin-top: 50px;
                    }
                    &:first-child{
                        margin-top: 0;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 799px){
        > .container {
            position: relative;
            z-index: 9; 
            .module {
                &:last-child {
                    margin-bottom: 90px;
                }
            }
            > .row{
                .module {
                    margin-bottom: 90px;
                }
            }
            &:last-child{
                .module {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                > .row{
                    .module {
                        margin-bottom: 90px;
                    }
                    &:last-child {
                        .module {
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        .module-title{
            br{
                display: none;
            }
        }
    }
    @media screen and (max-width: 639px){
        padding: 50px 0;
        > .container {
            position: relative;
            z-index: 9; 
            .module {
                &:last-child {
                    margin-bottom: 50px;
                }
            }
            > .row{
                .module {
                    margin-bottom: 50px;
                }
            }
            &:last-child{
                .module {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                > .row{
                    .module {
                        margin-bottom: 50px;
                    }
                    &:last-child {
                        .module {
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
} 

.aod-area-1{
    background: $cl-008;
}
.aod-area-2{
    @extend .main_bg_color;
    &:before{
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 373px;
        background: url('img/background/1.png');
        background-size: cover;
    }
}
.aod-area-3{
    border-bottom: 1px solid $cl-006;
}
.aod-area-5{
    background: #e8e8e8;
}
.aod-area-6{
    padding-bottom: 0;
}
.aod-area-7{
    &:before{
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('img/background/2.png');
        background-size: cover;
    }
}
.aod-area-8{
    padding-top: 220px;
    background: url('img/background/1.jpg');
    background-size: cover;
    @media screen and (max-width: 1160px){ 
        padding: 90px 0;
    }
    @media screen and (max-width: 639px){ 
        padding: 40px 0;
    }
    @media screen and (max-width: 479px){ 
        padding: 30px 0;
    }
}

.aod-area-no-space{
    padding: 0;
}
.aod-area-parallax {
    position: relative;
    background-position: 50% 0;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    background-size: cover !important;
}

.white-text-style {
    color: $cl-001;
    .module-title, span, p, a, h1, h2, h3, h4, h5, h6, input, textarea {
        color: $cl-001;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        a {
            color: $cl-001;
            opacity: 1;
            &:hover {
                color: $cl-001;
                opacity: .8;
            }
        }
    }
    a:hover{
        @extend .main_color;
        span{
            @extend .main_color;
        }
    }
    p{
        color: rgba(255,255,255,1);
    }
}

.dark-text-style{
    color: $color-secondary;
    .module-title,
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, a {
        color: $color-primary;
    }
    span, p, input, textarea{
        color: $color-secondary;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        a {
            color: $color-primary;
            opacity: 1;
            &:hover {
                @extend .main_color;
            }
        }
    }
    a:hover{
        @extend .main_color;
        span{
            @extend .main_color;
        }
    }
}


/*___________ 1.2.4 Default Article ___________*/

[class*="item"] {
    position: relative;
    @extend .clearfix;
}
.entry-content, .item-content{
    display: block;
    position: relative;
    @extend .clearfix;
}
.entry-title, .item-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
}
.aod-mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    @extend .transition;
    @extend .white-text-style;
}
.entry-thumb, .item-thumb {
    width: 100%;
    max-width: 100%;
    display: block;
    position: relative;
    @extend .clearfix;
    img {
        width: 100%;
        &.wp-post-image{
            width: auto;
        }
    }
    .aod-mask {
        opacity: 0;
        @include transition(.5s);
    }
    &:hover {
        .aod-mask {
            opacity: 1;
        }
    }
}

.aod-icon {
    @extend .fa;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    @include button(44px, 44px, 44px, 20px, $top);
    color: $cl-001;
    @extend .main_bg_color;
    left: 50%;
    border-radius: 50%;
    @extend .transition;
    &:hover {
        @extend .main_bd_color;
        color: $cl-001;
    }
}


/*--- meta-data ---*/

.entry-meta {
    @extend .clearfix;
    @extend .list_reset;
    font-size: 14px;
    line-height: 22px;
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
    > span,
    > p {
        display: inline-block; 
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        i { 
            margin-right: 10px;
        }
        a{
            color: $color-secondary;
            &:hover{
                @extend .main_color;
            }
        }
        a {
            opacity: 1 !important;
            &.entry-categories {}
        }
    }
    > a {
        display: inline-block;
        margin-top: 5px;
        &:hover {
            span {
                @extend .main_color;
            }
        }
    }
}

/*--- rating ---*/

.aod-rating {
    width: 100%;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
    ul {
        @extend .list_reset;
        @extend .list_format;
        @extend .clearfix;
        margin: 0 -1px !important;
    }
    li {
        font-size: 13px;
        float: left;
        @extend .main_color;
        margin: 0 1px !important;
        &.inactive span:before {
            content: "\f123";
        }
    }
}

/*--- loadmore ---*/

.aod-loadmore{
    margin-top: 50px;
}
.loadmore-btn{
    display: block;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-transform: capitalize;
    background: $cl-005;
    padding: 12px 20px;
    text-align: center;
    width: 100%;
    outline: none !important;
    border: none !important;
    @include transition(.5s);
    cursor: pointer;
    &:hover{
        letter-spacing: 1.5px;
        background: $cl-004;
    }
}


/*___________ 1.2.5 Default Module ___________*/

.module {
    @extend .clearfix;
    @extend .list_reset;
    margin-bottom: 90px;
    position: relative;
    &:last-child{
        margin-bottom: 0;
    }
    > header,
    > .container > header {
        @extend .clearfix;
        margin-bottom: 90px;
        @media screen and (max-width: 1160px){ 
            margin-bottom: 60px;
        }
        @media screen and (max-width: 767px){ 
            margin-bottom: 40px;
        }
        .module-title{
            // margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    .module-content {
        @extend .clearfix;
        position: relative;
        @media screen and (max-width: 639px){ 
            > .row{
                > *{
                    width: 100%;
                    margin-top: 30px;

                }
                &:first-child{
                    margin-top: -30px;
                }
            }
        }
        > article {
            margin-top: 30px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    @media screen and (max-width: 639px) {
        margin-bottom: 50px;
        > header,
        > .container > header {
            margin-bottom: 30px;
            p {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
} 
.module-content {
    > ul:not(.row){
        margin: 0;
    }
}

/*--- module-title ---*/

.module-title {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 55px;
    position: relative;
    @media screen and (max-width: 1160px){ 
        margin-bottom: 30px;
    }
    @media screen and (max-width: 979px){ 
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 20px;
    }
    @media screen and (max-width: 479px){ 
        font-size: 24px;
        line-height: 32px;
    }
}
.module-title.style-01 {
    font-weight: 300;
    text-transform: none;
    margin-bottom: 70px;
    @media screen and (max-width: 1160px){ 
        margin-bottom: 40px;
    }
}
.module-title.style-02 {
    font-weight: 400;
    margin-bottom: 70px;
    @media screen and (max-width: 1160px){ 
        margin-bottom: 40px;
    }
    a{
        font-size: 12px;
        @extend .main_color;
        &:hover{
            color: #000;
        }
    }
}
.module-title.style-03 {
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 30px;
    @extend .main_color;
    @media screen and (max-width: 639px){ 
        margin-bottom: 15px;
    } 
}
.module-title.style-04 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 300;
    @media screen and (max-width: 979px){ 
        font-size: 30px;
        line-height: 38px;
    }
}
.module-title.style-05 {
    font-weight: 700;
}
.module-title.style-06 {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 15px;
    margin-bottom: 35px;
    &:before, &:after{
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        // background: #e5e5e5;
    }
    &:after{
        width: 65px;
        @extend .main_bg_color;
    }
}

/*--- module-header ---*/

.module-header{
    text-align: center;
    p{
        @media screen and (max-width: 1160px){ 
            text-align: justify;
            -moz-text-align-last: center; 
            text-align-last: center;
        }
        &.style-01{
            font-size: 20px;
            line-height: 28px;
            font-weight: 300;
            color: #111;
        }
        &.style-02{
            font-size: 27px;
            line-height: 36px;
            font-weight: 300;
            color: $color-primary;
            @media screen and (max-width: 767px){ 
                font-size: 22px;
                line-height: 30px;
            }
            @media screen and (max-width: 479px){ 
                font-size: 15px;
            }
        }
        @media screen and (max-width: 979px){ 
            &.style-01{
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    &.text-left{
        text-align: left;
    }
    &.text-right{
        text-align: right;
    }  
}
.module-header.style-01{
    padding: 0 300px;
    text-align: center;
    @media screen and (max-width: 1160px){ 
        padding: 0;
    }
}
@media screen and (max-width: 1160px){ 
    .module-header.style-02{
        br{
            display: none;
        }
    }
}


/*--- aod-module-404 ---*/

.aod-module-404{
    h2{
        font-size: 150px;
        line-height: 1em;
        font-weight: 300;
        margin-bottom: 20px;
        @media screen and (max-width: 479px){ 
            font-size: 80px;
        }
    }
    h4{
        font-size: 30px;
        text-transform: uppercase;
        @media screen and (max-width: 479px){ 
            font-size: 20px;
        }
    }
    a{
        @extend .main_color;
        text-decoration: underline !important;
        &:hover{
            text-decoration: none !important;
        }
    }
}

/*___________ 1.2.6 Elements ___________*/



/*--- Collapse ---*/

.aod-collapse{
    display: none;
    &.aod-collapse-in{
        display: block;
    }
}
.collapse-panel{
    margin-top: 0;
    position: relative;
    &:first-child{
        margin-top: 0;
    }
    .panel-heading{
        font-size: 19px;
        line-height: 28px;
        font-weight: 400;
        text-transform: uppercase;
        color: $color-primary;
        padding: 25px 0 25px 30px;
        border-bottom: 1px dashed #bbb;
        cursor: pointer;
        @extend .transition;
        &:before{
            @extend .fa;
            content: '\f0da';
            @extend .main_color;
            font-size: 22px;
            position: absolute;
            top: 30px;
            left: 0;
        }
        span.date{
            font-size: 13px;
            line-height: 22px;
            font-weight: 400 !important;
            text-transform: uppercase;
            color: #555;
            margin-left: 10px;
        }
        &:hover{
            @extend .main_color;
        }
        @media screen and (max-width: 479px){ 
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            padding: 15px 0 15px 20px;
            &:before{
                font-size: 16px;
                top: 20px;
            }
            span.date{
                display: block;
                margin-left: 0;
            }
        }
        .expired{
            font-size: 16px;
            text-transform: capitalize;
            @media screen and (max-width: 479px){ 
                font-size: 13px;
            }
        }
    }
    .panel-content{
        padding: 30px 0 30px 30px;
        margin: 0;
        overflow: hidden;
        display: none;
        .content{
            >*{
                margin-top: 50px;
                @media screen and (max-width: 639px){ 
                    margin-top: 25px;
                }
                &:first-child{
                    margin-top: 0;
                }
            }
        }
        @media screen and (max-width: 979px){ 
            padding: 30px 0;
        }
    }
    &.active{
        .panel-heading{
            font-weight: 600;
            &:before{
                @include rotate(45deg);
                top: 33px;
                @media screen and (max-width: 479px){ 
                    top: 22px;
                }
            }
        }
    }
}
.aod-accordion{
    .collapse-panel{
        &.active{
            .panel-heading{
                cursor: text;
            }
        }
    }
}
.expired{
    color: $color-003;
    margin-right: 10px;
} 