
@media (min-width: 1200px) {
	.container {
		max-width: 1600px !important;
	}
}
* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
}

#myBtn {
	width: 50px;
	height: 50px;
	display: none;
	position: fixed;
	bottom: 20px;
	right: 5px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: #07846C;
	color: white;
	cursor: pointer;
	line-height: 50px;
	border-radius: 0px;
	font-size: 18px;
}

#myBtn:hover {
	background-color: #313131;
}

.navtop{
	width: 100%;
	height: 40px;
	background-color: white;
	text-align: center;
	line-height: 40px;
}

a.link-top{
	display:inline-block;
	color: #05836b;
	text-decoration: none;
	padding: 0px 5px;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 400;
}
div.top_nav_left a.link-top:nth-child(1){
	padding-left: 0;
}
div.top_nav_right a.link-top:nth-child(3){
	padding-right: 0;

}
i.link-top{
	display:inline-block;
	color: #05836b;
	text-decoration: none;
	padding: 0px 5px;
	font-size: 14px;

}
div.top_nav_right a.link-top i.link-top{
	font-size: 16px;
	font-weight: bold;
}
div.top_nav_right a.link-top i.fa-facebook-f {
	color: #395693;
}
div.top_nav_right a.link-top i.fa-linkedin-in {
	color: #0077B0;
}
div.top_nav_right a.link-top i.fa-youtube {
	color: #E6000D;
}


div.top_nav_left a.link-top i.link-top:nth-child(1){
	padding-left: 0;
}
div.top_nav_right a.link-top i.link-top:nth-child(1){
	padding-right: 0;
}
img.toplogo{
	width: 125px;
	height: auto;
}

.nav-menu{
	width: 100%;
	height: 80px;
	font-family: 'Open Sans', sans-serif;
	background: #303030 !important;
}

ul.menu-top li.nav-item{
	padding: 0px 25px !important;
}
ul.navbar-nav li:hover .dropdown-menu {
	display: block;
}
ul.menu-top li:nth-child(7){
	padding-right: 0px !important;
}
ul.menu-top li a.nav-link{
	font-size: 15px;
	width:auto;
	height: 100%;
	font-weight: 400;
	color: white !important;
	text-transform: uppercase;
	padding: 27px 0px !important;

}
ul.menu-top li a.nav-link:hover{
	color: #05836b !important;
}

ul.menu-top li.active a.nav-link{
	font-weight: 700;
	color: #05836b !important;
	border-bottom: solid 4px #05836b;

}

a.dropdown-item{

	font-size: 15px;
	font-weight: 400;
	color: white !important;
}
ul.dropdown-menu{
	border-radius: 0px;
	border: 0px;
	background-color:#303030;
	box-shadow: 0px 9px 7px 3px #00000045;
	box-sizing: border-box;
	margin-top: -1px !important;
}

a.dropdown-item:hover{
	color: #05836b !important;
}
/*================ END NAV-MENU =============================*/
div.banner{
	margin-bottom: 10px;
	width: 100%;
	height: 100%;
}
div.button-play a img.img-play{
	display: block;
	width: 55px;
	height: 55px;
	position: absolute !important;
	top: 45%;
	left: 50%;
}

/*================ END BANNER =============================*/

div.Tab_ABOUT{
	height: auto;
}
div.left_about{
	position: relative;
	border-bottom: 200px solid #05836b;
	border-right: 100px solid transparent;
	height:0;
	width: 100%;
}
div.left_about img.img_about{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 300px;
}
div.left_about div.title_about{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	color: white;
	text-transform: uppercase;
	padding-top: 13px;
}

div.left_about div.text_about{
	text-align: center;
	font-size: 14px;
	color: white;
	padding: 20px 15px;

	font-weight: 300;

}

div.right_about img.mspartner_about{
	width: 100%;
	height: 100%;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

/*================ END ABOUT =============================*/

div.OUR_SERVICES{
	width: auto;
	height: auto;
	margin-top: 10px;
	background-color: #f2f2f2 !important;
	box-shadow: border-box;
}
div.title_our{
	margin-top: 50px;
	font-weight: 200;
	color: #010101;
	font-size: 30px;
}
div.title1_our{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 40px;
	width: auto;
	height: 40px;
	font-size: 20px;
	font-weight: 600;
	color: #05836b;
}
div.title2_our{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: auto;
	height: 60px;
	margin-top: 40px;
	font-size: 20px;
	font-weight: 600;
	color: #05836b;
	text-transform: capitalize;
}
div.img_our img{
	margin-top: 20px;
	width: 100%;
	height: 100%;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
div.text_our{
	margin-top: 40px;
	font-size: 14px;
	color: black;
	line-height: 23px;
}
div.button_readymore{
	margin-top: 20px;
}
div.button_readymore a{
	color: #05836b !important;
	font-size: 14px;
}

div.line-1px{
	margin: 70px 0px;
	position: relative;
	border-bottom: solid 1px gray;
}
div.button_more{
	width: auto;
	height: auto;
	position: absolute;
	z-index: 1;
	top: 49px;
	left: 50%;
	text-align: center;
	display: block;
}
/*================ END SERVICES & PRODUCTS =============================*/
div.call-action{
	background-color: #2B313C;
	width: auto;
	height: 100px;
	line-height: 100px;
	margin-bottom: 10px;
}
div.call-action p{
	color: white;
	font-weight: bold;
	font-size: 50px;
}
div.call-action button.btn{
	border:2px solid #05836b  !important;
	border-radius: 0px; !important;
	color: #05836b ;
	transition: 0.5s;
}
div.call-action button.btn:hover{
	background-color: #05836b  !important;
	color: white;
}
/*================ END CALL-ACTION =============================*/
div.our-value{
	width: 100%;
	height: 445px;
	margin-bottom: 10px;
	background-image: url(images/About/value.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#parallelogram {
	width: 550px;
	max-width: 100%;
	height: 445px;
	background: #3892b7;
	-webkit-transform: skew(-22deg);
	-moz-transform: skew(-22deg);
	-o-transform: skew(-22deg);
	transform: skew(-22deg);
	margin: 0 auto;
}

.our-value .box-our-value {
	position: relative;
}
.our-value .box-our-value .title_our_value{
	font-weight: 200;
	color: #010101;
	font-size: 30px;
	position: absolute;
	top: 50px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.our-value .box-our-value .content {
	color: #fff;
	width: 480px;
	max-width: 100%;
	position: absolute;
	top: 145px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding: 0 50px;
}

.our-value .box-our-value .content .title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
}
.our-value .box-our-value .content .des {
	font-size: 16px;
}

/*================ PARTNER =============================*/
.partner img {
	max-width: 100%;
}
/*================ END PARTNER =============================*/



/*================ CLIENT FEEDBACK =============================*/
.client-feedback {
	min-height: 630px;
	background-image: url("images/client/bg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 0 auto;
}
.client-feedback .title {
	font-size: 30px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	margin: 65px 0 125px 0;
}
.client-feedback .client-item .logo {
	margin-left: 17%;
	margin-right: 3.6%;
	display: inline-block;
	vertical-align: top;
}
.client-feedback .client-item .fb-text {
	width: 840px;
	max-width: 100%;
	height: 265px;
	background: #fff;
	opacity: 0.8;
	padding: 50px 50px 20px 50px;
	display: inline-block;
}

.client-feedback .client-item .fb-text .content{
	font-size: 30px;
	font-style: italic;
	color: #000;
}
.client-feedback .client-item .fb-text .name {
	font-size: 30px;
	font-weight: bold;
	color: #05836b;
	text-align: right;
}
.client-feedback .client-item .fb-text .company {
	font-size: 25px;
	color: #2b313c;
	text-align: right;
}
/*================ END CLIENT FEEDBACK =============================*/



/*================ FOOTER =============================*/
.footer-1 {
	min-height: 580px;
	background: #353535;
	color: #fff;
}

.footer-1 #address .logo-footer {
	margin: 30px 0 50px 20px;
}

.footer-1 #address .ad-content {
	margin-left: 20px;
	font-size: 14px;
}
.footer-1 #address .ad-content .icon {
	display: inline-block;
	width: 30px;
	vertical-align: top;
	margin-top: 4px;
}
.footer-1 #address .ad-content .text {
	display: inline-block;
	font-size: 14px;
	width: 245px;
	max-width: 100%;
}

.footer-1 #address .ad-content .item {
	margin-bottom: 18px;
}

.footer-1 #social .title{
	margin: 70px 0 45px 0;
	font-size: 16px;
	font-weight: bold;
	color: #06846c;
}
.footer-1 #social .content img {
	display: block;
	margin-bottom: 30px;
}

.footer-1 #contact .title {
	margin: 70px 0 45px 0;
	font-size: 16px;
	font-weight: bold;
	color: #06846c;
}

.footer-1 #contact .content .ct-form input {
	height: 40px;
	width: 560px;
	max-width: 100%;
	border: none;
	background: #686868;
	padding: 15px;
	color: #fff;
	margin-bottom: 20px;

}

.footer-1 #contact .content .ct-form textarea{
	width: 560px;
	max-width: 100%;
	border: none;
	background: #686868;
	padding: 15px;
	color: #fff;
	height: 175px;
	margin-bottom: 20px;
}
.footer-1 #contact .content .ct-form textarea::placeholder,
.footer-1 #contact .content .ct-form input::placeholder
{
	color: #fff;
}
.footer-1 #contact .content .ct-form button{
	width: 180px;
	height: 40px;
	background: #05836b;
	border: navajowhite;
	color: #fff;
	font-size: 16px;
}

button:focus, input:focus, textarea:focus {
	outline: none;
}

.footer-2 {
	height: 55px;
	background: #303030;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 18px;
}

/*================ END FOOTER =============================*/

/*================ aod-more-link =============================*/
.more {
	position: relative;
}

[class*='aod-more-link'] {
	margin-top: 90px; }
@media screen and (max-width: 1160px) {
	[class*='aod-more-link'] {
		margin-top: 60px; } }
@media screen and (max-width: 639px) {
	[class*='aod-more-link'] {
		margin-top: 30px; } }

.aod-more-link-1 {
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	text-align: center;
	min-height: 54px;
	padding-top: 15px; }
@media screen and (max-width: 979px) {
	.aod-more-link-1 {
		padding-right: 33px; } }
@media screen and (max-width: 639px) {
	.aod-more-link-1 {
		padding-right: 75px; } }
.aod-more-link-1 a {
	display: inline-block;
	padding: 0 18px;
	position: relative;
	color: #00a681;
}
.aod-more-link-1 a:hover {
	color: #000;
	text-decoration: none;
}
.aod-more-link-1 a:before, .aod-more-link-1 a:after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 10px;
	left: -10000px;
	width: 10000px;
	height: 1px;
	background: #d9d9d9; }
.aod-more-link-1 a:after {
	left: auto;
	right: -10000px; }
.aod-more-link-1 a:hover {
	color: #000; }
.aod-more-link-1 a span {
	display: block;
	position: absolute;
	top: -16px;
	right: -66px;
	width: 54px;
	height: 54px;
	border-left: 1px solid #d9d9d9; }
.aod-more-link-1 a span:before, .aod-more-link-1 a span:after {
	content: '';
	display: block;
	position: absolute;
	top: 13px;
	left: -4px;
	width: 60px;
	height: 1px;
	background: #d9d9d9;
	-webkit-transform: rotate(26deg);
	-moz-transform: rotate(26deg);
	-ms-transform: rotate(26deg);
	-o-transform: rotate(26deg);
	transform: rotate(26deg); }
.aod-more-link-1 a span:after {
	top: auto;
	bottom: 14px;
	left: -4px;
	-webkit-transform: rotate(-26deg);
	-moz-transform: rotate(-26deg);
	-ms-transform: rotate(-26deg);
	-o-transform: rotate(-26deg);
	transform: rotate(-26deg); }

.white-text-style .aod-more-link-1 a, .sj-bg-item .aod-more-link-1 a, .aod-mask .aod-more-link-1 a, .aod-page-header .aod-more-link-1 a, .module-slider-1 .item .aod-more-link-1 a, .module-service-2 > ul > li .aod-more-link-1 a, .module-team-1 .item-content .aod-more-link-1 a, .live-chat-box .sj-dropdown-content .aod-more-link-1 a, .aod-bottom-sidebar .aod-more-link-1 a, .aod-footer .aod-more-link-1 a {
	color: #fff !important; }
.white-text-style .aod-more-link-1 a:before, .sj-bg-item .aod-more-link-1 a:before, .aod-mask .aod-more-link-1 a:before, .aod-page-header .aod-more-link-1 a:before, .module-slider-1 .item .aod-more-link-1 a:before, .module-service-2 > ul > li .aod-more-link-1 a:before, .module-team-1 .item-content .aod-more-link-1 a:before, .live-chat-box .sj-dropdown-content .aod-more-link-1 a:before, .aod-bottom-sidebar .aod-more-link-1 a:before, .aod-footer .aod-more-link-1 a:before, .white-text-style .aod-more-link-1 a:after, .sj-bg-item .aod-more-link-1 a:after, .aod-mask .aod-more-link-1 a:after, .aod-page-header .aod-more-link-1 a:after, .module-slider-1 .item .aod-more-link-1 a:after, .module-service-2 > ul > li .aod-more-link-1 a:after, .module-team-1 .item-content .aod-more-link-1 a:after, .live-chat-box .sj-dropdown-content .aod-more-link-1 a:after, .aod-bottom-sidebar .aod-more-link-1 a:after, .aod-footer .aod-more-link-1 a:after {
	background: rgba(255, 255, 255, 0.3); }
.white-text-style .aod-more-link-1 a span, .sj-bg-item .aod-more-link-1 a span, .aod-mask .aod-more-link-1 a span, .aod-page-header .aod-more-link-1 a span, .module-slider-1 .item .aod-more-link-1 a span, .module-service-2 > ul > li .aod-more-link-1 a span, .module-team-1 .item-content .aod-more-link-1 a span, .live-chat-box .sj-dropdown-content .aod-more-link-1 a span, .aod-bottom-sidebar .aod-more-link-1 a span, .aod-footer .aod-more-link-1 a span {
	border-left-color: rgba(255, 255, 255, 0.3); }
.white-text-style .aod-more-link-1 a span:before, .sj-bg-item .aod-more-link-1 a span:before, .aod-mask .aod-more-link-1 a span:before, .aod-page-header .aod-more-link-1 a span:before, .module-slider-1 .item .aod-more-link-1 a span:before, .module-service-2 > ul > li .aod-more-link-1 a span:before, .module-team-1 .item-content .aod-more-link-1 a span:before, .live-chat-box .sj-dropdown-content .aod-more-link-1 a span:before, .aod-bottom-sidebar .aod-more-link-1 a span:before, .aod-footer .aod-more-link-1 a span:before, .white-text-style .aod-more-link-1 a span:after, .sj-bg-item .aod-more-link-1 a span:after, .aod-mask .aod-more-link-1 a span:after, .aod-page-header .aod-more-link-1 a span:after, .module-slider-1 .item .aod-more-link-1 a span:after, .module-service-2 > ul > li .aod-more-link-1 a span:after, .module-team-1 .item-content .aod-more-link-1 a span:after, .live-chat-box .sj-dropdown-content .aod-more-link-1 a span:after, .aod-bottom-sidebar .aod-more-link-1 a span:after, .aod-footer .aod-more-link-1 a span:after {
	background: rgba(255, 255, 255, 0.3); }

/*================ end aod-more-link =============================*/

/*--- live-chat-box ---*/

.sj-dropdown-btn {
	cursor: pointer; }

.live-chat-content {
	color: #fff;
}
.live-chat-content ul{
	list-style: none;
	padding: 0;
}
.live-chat-content ul li {
	position: relative;
}
.live-chat-box {
	position: fixed;
	right: 0;
	top: 180px;
	padding-right: 390px;.live-chat-content h4
	z-index: 99999;
	-webkit-transform: translateX(390px);
	-moz-transform: translateX(390px);
	-ms-transform: translateX(390px);
	-o-transform: translateX(390px);
	transform: translateX(390px);
	transition: all 0.5s ease, visibility 0s;
	-ms-transition: all 0.5s ease, visibility 0s;
	-webkit-transition: all 0.5s ease, visibility 0s;
	-moz-transition: all 0.5s ease, visibility 0s; }
.live-chat-box.active {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0); }
.live-chat-box .sj-dropdown-btn {
	top: -1px; }
.live-chat-box .sj-dropdown-btn img:last-of-type {
	display: none; }
.live-chat-box .sj-dropdown-content {
	position: absolute;
	top: 1px;
	right: 0;
	width: 390px;
	padding: 25px 30px;
	background: #5f8900;
	border-radius: 0 0 0 10px; }
@media screen and (max-width: 479px) {
	.live-chat-box .sj-dropdown-content {
		width: 300px;
		padding: 15px 10px;
		font-size: 14px;
		line-height: 22px; } }
.live-chat-box .sj-dropdown-content ul {
	margin: 0; }
.live-chat-box .sj-dropdown-content a {
	color: #fff !important; }
.live-chat-box .sj-dropdown-content a:hover {
	text-decoration: underline !important; }
@media screen and (max-width: 979px) {
	.live-chat-box {
		right: auto;
		top: auto;
		left: 10px;
		bottom: 34px;
		padding-right: 0;
		-webkit-transform: translateY(100%);
		-moz-transform: translateY(100%);
		-ms-transform: translateY(100%);
		-o-transform: translateY(100%);
		transform: translateY(100%); }
	.live-chat-box.active {
		-webkit-transform: translateY(34px);
		-moz-transform: translateY(34px);
		-ms-transform: translateY(34px);
		-o-transform: translateY(34px);
		transform: translateY(34px); } }
@media screen and (max-width: 979px) and (max-width: 479px) {
	.live-chat-box {
		bottom: 26.5px; }
	.live-chat-box.active {
		-webkit-transform: translateY(26.5px);
		-moz-transform: translateY(26.5px);
		-ms-transform: translateY(26.5px);
		-o-transform: translateY(26.5px);
		transform: translateY(26.5px); } }
@media screen and (max-width: 979px) {
	.live-chat-box .sj-dropdown-btn {
		top: auto;
		max-width: 30%; }
	.live-chat-box .sj-dropdown-btn img {
		display: none; }
	.live-chat-box .sj-dropdown-btn img:last-of-type {
		display: block; }
	.live-chat-box .sj-dropdown-content {
		position: relative;
		top: auto;
		right: auto;
		border-radius: 0 10px 0 0; } }

.live-chat-content > * {
	margin-top: 30px; }
.live-chat-content > *:first-child {
	margin-top: 0; }

.live-chat-content h4 {
	font-size: 21px;
	line-height: 30px;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #fff;
}

.live-chat-content .contact-list > * {
	padding-left: 45px;
	margin-top: 15px;
	min-height: 28px; }
.live-chat-content .contact-list > *:first-child {
	margin-top: 0; }
.live-chat-content .contact-list > * > i {
	position: absolute;
	top: 2px;
	left: 0;
	font-size: 24px; }

.live-chat-content .contact-list p {
	margin: 0; }

.live-chat-content .phone-list li span {
	display: inline-block;
	min-width: 120px; }

@media screen and (max-width: 479px) {
	.live-chat-content > * {
		margin-top: 15px; }
	.live-chat-content > *:first-child {
		margin-top: 0; }
	.live-chat-content h4 {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 10px; }
	.live-chat-content .contact-list > * {
		padding-left: 30px;
		margin-top: 5px;
		min-height: 0; }
	.live-chat-content .contact-list > * > i {
		top: 5px;
		font-size: 12px;
		opacity: .7; }
	.live-chat-content .phone-list li span {
		min-width: 105px; } }
/*--- end live-chat-box ---*/

/*||||||||||||||||| MOBILE  ||||||||||||||||*/
@media screen and (max-width: 575.98px) {
	div.navtop{
		height: auto;
	}
	ul.menu-top li a.nav-link{
		padding: none;
	}
	ul.menu-top li a.nav-link:hover{
		border-bottom: none;
	}
	ul.menu-top li.active a.nav-link{
		border-bottom: none;
	}
	.nav-menu{
		width: 100%;
		height: 100%;
	}
	ul.dropdown-menu{
		box-shadow: none;
	}
	ul.menu-top li a.nav-link{
		padding: 10px 0px !important;
	}
	a.dropdown-item:hover{
		color: #05836b !important;
	}
	div.button-play a img.img-play{
		width: 40px;
		height: 40px;
		position: absolute !important;
		top: 40% !important;
	}
	div.left_about{
		position: none;
		border-bottom: none;
		background-color:#05836b;
		border-right: none;
		height:100%;
		width: 100%;
	}
}

@media only screen and (max-width: 991.98px) and (min-width: 576px)  {
	div.navtop{
		height: 35px !important;
	}
	ul.menu-top li a.nav-link{
		padding: none;
	}
	ul.menu-top li a.nav-link:hover{
		border-bottom: none;
	}
	ul.menu-top li.active a.nav-link{
		border-bottom: none;
	}
	.nav-menu{
		width: 100%;
		height: 100%;
	}
	ul.dropdown-menu{
		box-shadow: none;
	}
	ul.menu-top li a.nav-link{
		padding: 10px 0px !important;
	}
	a.dropdown-item:hover{
		color: #05836b !important;
	}
	div.button-play a img.img-play{
		width: 40px;
		height: 40px;
		position: absolute !important;
		top: 40% !important;
	}
	div.left_about{
		position: none;
		border-bottom: none;
		background-color:#05836b;
		border-right: none;
		height:100%;
		width: 100%;
	}
}
