

/*--- main-nav ---*/

.main-nav{
    @extend .clearfix;
    @media screen and (max-width: 1160px) {
        display: none;
    }
}
.main-menu{
    @extend .clearfix;
    position: static;
    text-align: left;
    border: none;
    margin: 0;
    .sf-with-ul {
        &:after{
            display: none;
        }
    }
    > li {
        list-style: none;  
        padding: 0;     
        margin: 0 10px;  
        background: none !important;
        z-index: 999;
        float: left;
        position: initial;
        white-space: normal; 
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
            // > a{
            //     padding-right: 0;
            // }
        }
        > a {
            display: block;
            text-transform: uppercase;
            padding: 37px 18px;
            margin: 0;  
            border:none;
            position: relative;
            &:before, &:after {
                overflow: hidden;
                position: absolute;
                top: auto;
                right: 50%;
                bottom: 0;
                left: 50%;
                content: '';
                opacity: 0;
                height: 3px;
                background: $color-mainr;
                @include transition(.5s);
            }
            &:after{
                display: block !important;
            }
        }
        &:hover, &.active, &.active-parent  {
            > a{
                color: $color-mainr;
                &:before{
                    left: 0;
                    opacity: 1;
                }
                &:after{
                    opacity: 1;
                    right: 0 !important;
                }
            }
        } 
    }
}


/*--- mobile-menu ---*/

.mobile-nav {
    @extend .clearfix;
    margin-top: 18px;
    margin-right: 15px;
    display: none;
    @media screen and (max-width: 1160px) {
        display: block;
    }
    > span{
        font-size: 25px;
        z-index: 99;
        position: relative;
        display: inline-block;
        cursor: pointer;
        padding: 0;
        @extend .transition;
        &:hover{
            @extend .main_color;
        }
    }
}
.mobile-menu{
    @extend .list_reset;
    @extend .clearfix;
    position: absolute;
    top: 58px;
    right: -25px;
    width: 250px;
    height: auto;
    background: $color-primary;
    padding: 30px 25px;
    text-align: right;
    z-index: 999999;
    display: none;
    &.active{
        > li{
            opacity: 1;
        }
    }
    > li {
        position: relative;
        width: 100%;
        margin-top: 15px;
        opacity: 0;
        @include transition(.5s);
        &:first-child {
            margin-top: 0;
        }
        > a {
            @include text_format($font-primary, 14px, 22px, 300); 
            text-transform: uppercase;
            color: #fff;
            padding: 0;
            display: block;
            &:hover{
                @extend .main_color;
            }
        }
        &.active {
            > a {
                @extend .main_color;
            }
        }
    }
}


/*_____________ aod-page-header _____________*/


header[class*="aod-page-header"]{
    z-index: 999;
    @extend .clearfix;
}

.aod-page-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.47);
    @extend .white-text-style;
    @include transition(.3s ease);
    .aod-logo{
        margin-top: 16px;
        @include transition(.3s ease);
    }
    &.sticky{
        background: $color-primary;
        .aod-logo{
            margin-top: 10px;
            max-width: 80%;
        }
        .main-menu{
            > li {
                > a {
                    padding-top: 25px;
                    padding-bottom: 25px;
                    @include transition(.3s ease);
                }
            }
        }
        .mobile-nav{
            margin-top: 12px;
            .mobile-menu{
                top: 50px;
            }
        }

    }
    @media screen and (max-width: 1160px){ 
        padding: 15px 0;
        background: $color-primary;
        @media screen and (max-width: 639px){ 
            &.sticky{
                padding: 8px 0;
                .mobile-nav{
                    .mobile-menu{
                        top: 37px;
                    }
                }
            }
        }
        .aod-logo{
            margin-top: 0 !important;
            max-width: 80%;
            @media screen and (max-width: 639px){ 
                max-width: 66% !important;
            }
        }
        .mobile-nav{
            margin-top: 12px;
            .mobile-menu{
                top: 50px;
            }
            @media screen and (max-width: 639px){ 
                margin-top: 9px !important;
                margin-right: 5px;
                .mobile-menu{
                    top: 44px;
                }
            }
        }
    }

}

@media screen and (max-width: 1160px){ 
    .aod-main-content{
        margin-top: 80px;
        @media screen and (max-width: 639px){ 
            margin-top: 73px;
        }
    }
}