/**
 * Table of Contents:
 *

1. - Global Styles
2. - Header
    2.1 - Navigation 
    2.2 - Search 
3. - Content 
    3.1 - Widget
    3.2 - Home Page
    3.3 - Sub Page
    3.4 - Sidebar 
    3.5 - Bottom sidebar
4. - Footer 
5. - Color
6. - Responsive
 
 * -----------------------------------------------------------------------------
 */



/**
 * 1. Global Styles
 * -----------------------------------------------------------------------------
 */

@import "sass/style-globals";


/**
 * 2. Header
 * -----------------------------------------------------------------------------
 */
 
@import "sass/modules/header";
  

/**
 * 3. Content
 * -----------------------------------------------------------------------------
 */






/**
 * 3.1 Module
 * -------------------------------------------------------------------
 */


/*--- module-slider-1 ---*/

.module-slider-1{
    background: $color-primary;
    .item{
        @extend .white-text-style;
        .item-thumb{
            .aod-mask{
                opacity: 1;
            }
        }
        .item-content {
            text-align: center;
            width: 100%;
            padding: 0 15px;
            position: absolute;
            left: 0;
            top: 50%;
            @include translateY(-50%);
            margin-top: 50px;
            @media screen and (max-width: 1160px){ 
                margin-top: 0;
                padding: 0;
            }
            p{
                color: #fff !important;
            }
            h4{
                font-size: 80px;
                line-height: 88px;
            }
            .slider-txt-1{
                font-size: 43px;
                line-height: 50px;
                font-weight: 300;
                margin-top: 30px;
            }
            .slider-txt-2{
                font-size: 73px;
                line-height: 80px;
                font-weight: 300;
                text-transform: capitalize;
            }
            .slider-txt-3{
                font-size: 146px;
                line-height: 154px;
                font-weight: 600;
                text-transform: capitalize;
                margin: -30px 0 20px;
            }

            .slider-txt-4{
                @extend .slider-txt-2;
                font-style: italic;
            }
            .slider-txt-5{
                font-size: 53px;
                line-height: 62px;
                font-weight: 300;
                span{
                    font-size: 93px;
                    text-transform: capitalize;
                    font-weight: 600;
                }
                strong{
                    font-size: 126px;
                    text-transform: capitalize;
                    font-weight: 600;
                }   
            }
            .slider-txt-6{
                font-size: 60px;
                line-height: 68px;
                text-transform: capitalize;
                font-weight: 300;
            }
            .slider-txt-7{
                font-size: 133px;
                line-height: 1em;
                text-transform: capitalize;
                font-weight: 600;
                margin: -20px 0 20px;
            }
            @media screen and (max-width: 1600px){ 
                h4{
                    font-size: 60px;
                    line-height: 64px;
                }
                .slider-txt-1{
                    font-size: 30px;
                    line-height: 38px;
                }
                .slider-txt-2{
                    font-size: 50px;
                    line-height: 58px;
                }
                .slider-txt-3{
                    font-size: 110px;
                    line-height: 120px;
                }
                .slider-txt-5{
                    font-size: 30px;
                    line-height: 38px;
                    span{
                        font-size: 65px;
                    }
                    strong{
                        font-size: 90px;
                    }   
                }
                .slider-txt-6{
                    font-size: 35px;
                    line-height: 44px;
                }
                .slider-txt-7{
                    font-size: 100px;
                    line-height: 100px;
                }
            }
            @media screen and (max-width: 979px){ 
                h4{
                    font-size: 40px;
                    line-height: 48px;
                    font-weight: 500;
                }
                .slider-txt-1{
                    font-size: 20px;
                    line-height: 28px;
                    margin-top: 15px;
                }
                .slider-txt-2{
                    font-size: 25px;
                    line-height: 32px;
                }
                .slider-txt-3{
                    font-size: 60px;
                    line-height: 68px;
                    margin: 0 0 20px;
                }
                .slider-txt-5{
                    font-size: 20px;
                    line-height: 28px;
                    span{
                        font-size: 40px;
                    }
                    strong{
                        font-size: 60px;
                    }   
                }
                .slider-txt-6{
                    font-size: 25px;
                    line-height: 34px;
                }
                .slider-txt-7{
                    font-size: 60px;
                    line-height: 70px;
                    margin: -10px 0 10px;
                }
            }
            @media screen and (max-width: 767px){ 
                h4{
                    font-size: 24px;
                    line-height: 32px;
                    font-weight: 400;
                }
                .slider-txt-1{
                    font-size: 16px;
                    line-height: 24px;
                }
                .slider-txt-2{
                    font-size: 18px;
                    line-height: 24px;
                }
                .slider-txt-3{
                    font-size: 40px;
                    line-height: 48px;
                    @media screen and (max-width: 639px){ 
                        font-size: 30px;
                        line-height: 38px;
                    }
                }
                .slider-txt-5{
                    font-size: 16px;
                    line-height: 28px;
                    span{
                        font-size: 20px;
                    }
                    strong{
                        font-size: 40px;
                    }   
                }
                .slider-txt-6{
                    font-size: 18px;
                    line-height: 26px;
                }
                .slider-txt-7{
                    font-size: 40px;
                    line-height: 48px;
                }
            }
            @media screen and (max-width: 479px){ 
                h4{
                    font-size: 22px;
                    line-height: 30px;
                }
                p{
                    margin-bottom: 0;
                }
                .slider-txt-1{
                    font-size: 15px;
                    line-height: 10px;
                    margin-top: 5px;
                }
                .slider-txt-2{
                    font-size: 19px;
                    line-height: 20px;
                }
                .slider-txt-3{
                    font-size: 36px;
                    line-height: 36px;
                    margin-bottom: 10px;
                }
                .slider-txt-5{
                    font-size: 22px;
                    line-height: 28px;
                    span{
                        font-size: 22px;
                    }
                    strong{
                        font-size: 30px;
                    }   
                }
                .slider-txt-6{
                    font-size: 18px;
                    line-height: 18px;
                }
                .slider-txt-7{
                    font-size: 32px;
                    line-height: 32px;
                    margin: 3px 0 7px;
                }
            }
            @media screen and (max-width: 359px){ 
                h4{
                    font-size: 18px;
                    line-height: 26px;
                }
                .slider-txt-1{
                    font-size: 13px;
                }
                .slider-txt-2{
                    font-size: 18px;
                }
                .slider-txt-3{
                    font-size: 32px;
                    line-height: 32px;
                }
                .slider-txt-5{
                    font-size: 20px;
                    line-height: 26px;
                    span{
                        font-size: 20px;
                    }
                    strong{
                        font-size: 30px;
                    }   
                }
                .slider-txt-7{
                    font-size: 30px;
                    line-height: 30px;
                }
            }
        } 
    }
    .btn-nav{
        margin: 120px -14px 0;
        > *{
            margin: 14px 14px 0;
            @media screen and (max-width: 639px){ 
                margin: 10px 5px 0;
            }
        }
    }
    .owl-item{
        &:nth-child(2){
            .btn-nav{
                margin-top: 60px;
            }
        }
    }
    @media screen and (max-width: 1600px){ 
        .btn-nav{
            margin-top: 35px !important;
            @media screen and (max-width: 767px){ 
                margin-top: 15px !important;
            } 
            @media screen and (max-width: 639px){ 
                margin-top: 5px !important;
            } 
        }
    }
    @media screen and (max-width: 1160px){ 
        background: none;
        .owl-btn-1{
            .owl-controls {
                .owl-pagination {
                    position: relative;
                    left: auto;
                    bottom: auto;
                    margin: 10px 0 0px;
                    .owl-page {
                        span {
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 639px){ 
        background: #f6f6f6;
        .owl-btn-1{
            z-index: 9;
            .owl-controls {
                .owl-pagination {
                    margin: 2px 0 -20px;
                    .owl-page { 
                        span {
                            width: 8px;
                            height: 8px;
                        }
                    }
                }
            }
        }
    }
}

/*--- aod-module-intro ---*/

.module-intro-1{
    h2{
        font-size: 32px;
        line-height: 40px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 15px;
        @media screen and (max-width: 979px){ 
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 0;
            @media screen and (max-width: 767px){ 
                margin-bottom: 25px;
            }
            @media screen and (max-width: 639px){ 
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
    h4{
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        text-transform: uppercase;
        @extend .main_color;
        margin-bottom: 15px;
        @media screen and (max-width: 639px){ 
            font-size: 16px;
            line-height: 24px;
        }
    }
    p{
        text-align: justify;
        -moz-text-align-last: center; 
        text-align-last: center;
    }
    .aod-mh{
        margin-top: -30px;
        > li{
            margin-top: 30px;
        }
    }
}
.module-intro-2{
    h4{
        font-size: 26px;
        line-height: 34px;
        font-weight: 300;
        text-transform: uppercase;
        min-height: 68px;
        margin-bottom: 35px;
        padding-left: 110px;
        strong{
            position: absolute;
            top: -7px; 
            left: 0;
            font-size: 73px;
            line-height: 1em;
            font-weight: 500;
        }
        @media screen and (max-width: 979px){ 
            padding-left: 0;
            margin-bottom: 10px;
            strong{
                position: relative;
                top: auto; 
                left: auto;
                font-size: 50px;
            }
            br{
                display: none;
            }
        }
        @media screen and (max-width: 479px){ 
            font-size: 20px;
            line-height: 28px;
            min-height: 32px;
            strong{
                font-size: 28px;
            }
        }
    }
    p{
        text-align: justify;
    }
    .aod-mh{
        margin-top: -30px;
        > li{
            margin-top: 30px;
            @media screen and (max-width: 979px){ 
                width: 100%;
            }
        }
    }
}
.module-intro-3{
    h4{
        font-size: 40px;
        line-height: 48px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 20px 0 70px;
    }
    p{
        text-align: justify;
    }
    @media screen and (max-width: 979px){ 
        h4{
            font-size: 26px;
            line-height: 34px;
            margin: 0 0 20px;
        }
        img{
            margin-top: 50px;
        }
    }
    @media screen and (max-width: 767px){ 
        .aod-mh{
            >*{
                width: 100%;
                &:last-child{
                    text-align: center;
                }
            }
        }
        img{
            margin-top: 0;
        }
    }
}
.module-intro-4{
    > ul{
        > li{
            margin-top: 50px;
            padding-left: 50px;
            &:first-child{
                margin-top: 0;
            }
            &:before{
                content: '';
                display: inline-block;
                position: absolute;
                top: 15px;
                left: 0;
                width: 10px;
                height: 10px;
                background: $color-003;
            }
            @media screen and (max-width: 979px){ 
                padding-left: 30px;
            }
        }   
    }
    h4{
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
}
.module-intro-5{
    img{
        border-radius: 50%;
    }
    p{
        color: $color-primary;
        margin-bottom: 20px;
        &:first-of-type{
            margin-top: 40px;
        }
        &:last-child{
            font-style: italic;
            margin-bottom: 0;
        }
    }
    @media screen and (max-width: 1160px){ 
        > p{
            br{
                display: none;
            }
        }
    }
}
.module-intro-6{
    > .row{
        margin-top: -40px;
        >*{
            margin-top: 70px;
            @media screen and (max-width: 979px){ 
                margin-top: 40px;
            }
        }
        @media screen and (max-width: 979px){ 
            text-align: center;
            > * {
                width: 100%;
                float: none;
                &:first-child{
                    padding: 0 100px;
                    @media screen and (max-width: 479px){ 
                        padding: 0 30px;
                    }
                }
            }
        }
    }
}
.module-intro-7{
    .item-list{
        >*{
            margin-top: 95px;
            @media screen and (max-width: 979px){ 
                margin-top: 70px;
            }
            @media screen and (max-width: 639px){ 
                margin-top: 40px;
            }
            &:first-child{
                margin-top: 0;
            }
            &:nth-child(2n){
                .item-icon{
                    &:before{
                        background: $color-005;
                    }
                    &:after{
                        border-color: $color-005;
                    }
                }
                .item-line{
                    &:before, &:after{
                        background: $color-005;
                    }
                }
            }
            &:nth-child(3n){
                .item-icon{
                    &:before{
                        background: $color-001;
                    }
                    &:after{
                        border-color: $color-001;
                    }
                }
                .item-line{
                    &:before, &:after{
                        background: $color-001;
                    }
                }
            }
            &:nth-child(4n){
                .item-icon{
                    &:before{
                        @extend .main_bg_color;
                    }
                    &:after{
                        @extend .main_bd_color;
                    }
                }
                .item-line{
                    &:before, &:after{
                        @extend .main_bg_color;
                    }
                }
            }
            // &:nth-child(5n){
            //     .item-icon{
            //         background: $color-004;
            //     }
            //     .item-line{
            //         &:before, &:after{
            //             background: $color-004;
            //         }
            //     }
            // }
        }
    }
    .item-icon{
        color: #fff;
        text-transform: uppercase;
        @include icon(180px,180px,180px,43px);
        float: left;
        margin: 0 100px 0 0;
        overflow: hidden;
        @media screen and (max-width: 1160px){ 
            margin: 0 40px 0 0;
        }
        &:before{
            content: '';
            width: 156px;
            height: 156px;
            border-radius: 50%;
            background: $color-002;
            position: absolute;
            top: 12px;
            left: 12px;
            z-index: -1;
        }
        &:after{
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 6px solid;
            border-color: $color-002;
            border-radius: 50%;
            @include transition(.3s ease);
        }
        &:hover{
            &:after{
                @include scale(.92);
            }
        }
        @media screen and (max-width: 479px){ 
            @include icon(110px,110px,110px,26px); 
            &:before{
                width: 98px;
                height: 98px;
                border-width: 3px;
                top: 6px;
                left: 6px;
            }
            &:after{
                border-width: 3px;
            }
        }
    }
    .item-content{
        overflow: hidden;
        padding-top: 25px;
        .item-line{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            &:before, &:after{
                content: '';
                display: inline-block;
                position: absolute;
                top: 5px;
                left: 0;
                width: 100%;
                height: 2px;
                background: $color-002;
            }
            &:after{
                top: 0;
                width: 12px;
                height: 12px;
                border-radius: 50%;
            }
        }
        h4{
            font-size: 24px;
            line-height: 32px;
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            padding: 5px 20px;
            background: #b7b7b7;
            margin-bottom: 25px;
        }
        p{
            font-size: 17px;
            line-height: 26px;
            text-align: justify;
        }
        @media screen and (max-width: 639px){ 
            h4{
                font-size: 16px;
                line-height: 24px;
                padding: 5px 15px;
                margin-bottom: 15px;
            }
            p{
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
    @media screen and (max-width: 639px){ 
        text-align: center;
        .item-icon{
            float: none;
            margin: 0;
        }
        .item-content{
            overflow: visible;
            margin-top: 50px;
            @media screen and (max-width: 639px){ 
                margin-top: 20px;
            }
            p{
                -moz-text-align-last: center; 
                text-align-last: center; 
            }
        }
    }
}

/*--- aod-module-service ---*/

.module-service-1{
    .aod-mh{
        margin-top: -30px;
        > li{
            margin-top: 30px;
            @media screen and (max-width: 979px){ 
                width: 100%;
            }
        }
    }
    .item{
        .item-thumb{
            @include icon(130px, 130px,128px,14px);
            float: left;
            margin: 0 35px 0 0;
            &:before{
                content: '';
                display: inline-block;
                position: absolute;
                top: 9px;
                left: 9px;
                width: 112px;
                height: 112px;
                border-radius: 50%;
                @extend .main_bg_color;
            }
            &:after{
                content: '';
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 4px solid;
                @extend .main_bd_color;
                border-radius: 50%;
                @include transition(.3s ease);
            }
            &:hover{
                &:after{
                    @include scale(.9);
                }
            }
            img{
                max-width: 82px;
            }
            @media screen and (max-width: 639px){ 
                width: 100px;
                height: 100px;
                line-height: 96px;
                &:before{
                    top: 7px;
                    left: 7px;
                    width: 86px;
                    height: 86px;
                }
                &:after{
                    border-width: 2px;
                }
                &:hover{
                    &:after{
                        @include scale(.88);
                    }
                }
                img{
                    max-width: 62px;
                }
            }
        }
        .item-content{
            overflow: hidden;
            padding-top: 18px;
            @media screen and (max-width: 979px){ 
                padding-top: 0;
            }
        }
        h4{
            font-size: 24px;
            line-height: 32px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 25px;
        }
        p{
            text-align: justify;
        }
        @media screen and (max-width: 639px){ 
            text-align: center;
            .item-thumb{
                float: none;
                margin: 0 0 25px 0;
            }
            h4{
                font-size: 18px;
                line-height: 26px;
                font-weight: 400;
            }
            p{
                -moz-text-align-last: center; 
                text-align-last: center;
            }
        }
    }
}
.module-service-2{
    > ul{
        margin-top: -40px;
        > li{
            margin-top: 40px;
            text-align: center;
            @extend .white-text-style;
            &:before{
                content: '';
                display: inline-block;
                position: absolute;
                top: 0;
                right: 25px;
                bottom: 0;
                left: 25px;
                @extend .main_bg_color;
                @media screen and (max-width: 979px){ 
                    left: 10px;
                    right: 10px;
                }
            }
            &:after{
                content: '';
                display: block;
                position: absolute;
                top: 10px;
                right: 35px;
                bottom: 10px;
                left: 35px;
                border: 1px solid rgba(255,255,255,.7);
                opacity: 0;
                @include scale(1.1);
                @include transition(.4s ease);
                @media screen and (max-width: 979px){ 
                    top: 5px;
                    right: 15px;
                    bottom: 5px;
                    left: 15px;
                }
            }
            &:hover{
                &:after{
                    @include scale(1);
                    opacity: 1;
                }
            }
            &:nth-child(1n){
                &:before{
                    background: $color-001;
                }
            }
            &:nth-child(2n){
                &:before{
                    background: $color-002;
                }
            }
            &:nth-child(3n){
                &:before{
                    @extend .main_bg_color;
                }
            }
            @media screen and (max-width: 979px){ 
                width: 100%;
            }
        }   
    }
    .item{
        text-align: center;
        padding: 55px;
        h4{
            font-size: 32px;
            line-height: 40px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 25px;
        }
        p{
            text-align: justify;
            -moz-text-align-last: center; 
            text-align-last: center;  
        }
        @media screen and (max-width: 979px){ 
            padding: 35px 20px;
            h4{
                font-size: 26px;
                line-height: 32px;
                margin-bottom: 15px;
            }
        }
    }
}
.module-service-3{
    .aod-mh{
        margin-top: -50px;
        > li{
            margin-top: 50px;
            @media screen and (max-width: 979px){ 
                width: 100%;
            }
        }
    }
    h4{
        font-size: 40px;
        line-height: 48px;
        font-weight: 600;
        text-transform: uppercase;
        min-height: 68px;
        margin-bottom: 35px;
        padding-left: 155px;
        @extend .main_color;
        strong{
            position: absolute;
            top: -10px; 
            left: 0;
            font-size: 106px;
            line-height: 1em;
            font-weight: 600;
            color: #bfbfbf;
        }
        @media screen and (max-width: 979px){ 
            font-size: 26px;
            line-height: 32px;
            padding-left: 0;
            margin-bottom: 20px;
            min-height: auto;
            strong{
                position: relative;
                top: auto; 
                left: auto;
                font-size: 40px;
            }
            br{
                display: none;
            }
        }
        @media screen and (max-width: 639px){ 
            font-size: 18px;
            line-height: 26px;
            strong{
                font-size: 26px;
            }
        }
    }
    p{
        text-align: justify;
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .contact-box{
        font-style: italic;
        color: $color-primary;
        p.title{
            color: $color-004;
            font-weight: 600;
        }
        ul{
            margin: 0;
            li{
                span{
                    display: inline-block;
                    min-width: 120px;
                }
            }
        }
        @media screen and (max-width: 767px){ 
            > .row{
                >*{
                    float: none;
                    width: 100%;
                    margin-top: 5px;
                    &:first-child{
                        margin-top: 0;
                    }
                }
            }
        } 
    }
}
.module-service-4{
    .service-list{
        margin: -40px -40px 0;
        p{
            display: inline-block;
            margin: 40px 40px 0;
            font-size: 21px;
            line-height: 30px;
            &:before{
                @extend .fa;
                content: '\f0da';
                color: $color-004;
                margin-right: 15px;
            }
            a{;
                &:hover{
                    color: $color-004;
                }
            }
        }
        @media screen and (max-width: 1160px){ 
            > br{
                display: none;
            }
        }
    }
    @media screen and (max-width: 639px){ 
        text-align: left;
        .service-list{
            margin: -15px 0 0;
            p{
                display: block;
                margin: 15px 0 0;
                font-size: 18px;
                line-height: 26px;
            }
        }
    }
}
.module-service-5{
    > ul{
        > li{
            margin-top: 5px;
            &:first-child{
                margin-top: 0;
            }
            @media screen and (max-width: 767px){ 
                margin-top: 60px;
                &:first-child{
                    margin-top: 20px;
                }
            }
            &:nth-child(2n){
                .item{
                    &:before{
                        background: $color-002;
                    }
                    h4{
                        color: $color-002;
                        border-color: $color-002;
                    }
                }
            }
            &:nth-child(3n){
                .item{
                    &:before{
                        background: $color-005;
                    }
                    h4{
                        color: $color-005;
                        border-color: $color-005;
                    }
                }
            }
        }
    }
    .item{
        padding:10px 0 40px 55px;
        @media screen and (max-width: 979px){ 
            padding-left: 25px;
        }
        @media screen and (max-width: 767px){ 
            padding: 0;
            > .row{
                > *{
                    width: 100%;
                    float: none;
                    margin-top: 25px;
                    &:first-child{
                        margin-top: 0;
                    }
                }
            }
        }
        &:before{
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            @extend .main_bg_color;
            @media screen and (max-width: 767px){ 
                display: none;
            }
        }
        h4{
            font-size: 29px;
            line-height: 38px;
            font-weight: 300;
            text-transform: uppercase;
            border-top: 1px solid;
            border-bottom: 1px solid;
            @extend .main_bd_color;
            border-width: 0px;
            @extend .main_color;
            @media screen and (max-width: 979px){ 
                br{
                    display: none;
                }
            }
            @media screen and (max-width: 767px){ 
                font-size: 22px;
                line-height: 30px;
                padding: 10px 0;
                border-width: 1px;
            }
        }
        h5{
            font-size: 24px;
            line-height: 30px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 15px;
            @media screen and (max-width: 767px){ 
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 10px;
            }
        }
        strong{
            margin: 20px 0 15px;
            display: block;
        }
    }
}

/*--- aod-module-testimonial ---*/

.module-testimonial-1{
    > ul{
        > li{
            margin-top: 40px;
            &:first-child{
                margin-top: 0;
            }
        }
    }
    .item{
        padding: 30px 0 0 85px;
        @media screen and (max-width: 1160px){ 
            padding: 30px 0 0 45px;
        }
        > span{
            position: absolute;
            top: 0;
            left: 0;
            font-size: 35px;
            color: $cl-007;
        }
        .item-thumb{
            width: 128px;
            border: 3px solid $cl-006;
            border-radius: 50%;
            float: left;
            margin: 0 45px 0 0;
            img{
                border-radius: 50%;
            }
        }
        .item-content{
            overflow: hidden;
            p{
                font-size: 17px;
                line-height: 26px;
                font-style: italic;
                margin: -5px 0 10px;
            }
            h6{
                color: $color-secondary;
                span{
                    font-weight: 400;
                }
            }
        }
        @media screen and (max-width: 479px){ 
            padding: 60px 0 0 0;
            text-align: center;
            > span{
                left: 50%;
                @include translateX(-50%);
            }
            .item-thumb{
                float: none;
                margin: 0 0 25px 0;
                display: inline-block;
            }
            .item-content{
                overflow: visible;
                p{
                    font-size: 14px;
                    line-height: 22px;
                    margin: 0 0 10px;
                }
            }
        }
    }
}

/*--- aod-module-article-list ---*/

.aod-module-article-list{
    .module-header.text-left{
        text-align: center;
    }
}
.module-article-list-1{
    > ul{
        > li{
            margin-top: 60px;
            @media screen and (max-width: 639px){ 
                margin-top: 30px;
            }
            &:first-child{
                margin-top: 0;
            }
        }
    }
    .entry-item{
        .entry-date{
            width: 70px;
            text-align: center;
            font-size: 18px;
            line-height: 32px;
            font-weight: 300;
            text-transform: uppercase;
            float: left;
            margin: 5px 30px 0 0;
            p{
                font-size: 53px;
                @extend .main_color;
            }
            @media screen and (max-width: 639px){ 
                width: 60px;
                font-size: 14px;
                line-height: 28px;
                margin: 0 15px 0 0;
                p{
                    font-size: 40px;
                }
            }
        }
        .entry-content{
            overflow: hidden;
            h4{
                font-size: 19px;
                line-height: 28px;
                font-weight: 400;
                text-transform: uppercase;
                margin: -5px 0 15px;
                @media screen and (max-width: 479px){ 
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            > a{
                font-size: 12px;
                @extend .main_color;
                text-transform: uppercase;
                display: inline-block;
                margin-top: 15px;
                &:hover{
                    color: #000;
                }
            }
        }
    }
}
.module-article-list-2{
    > ul{
        > li{
            margin-top: 30px;
            padding-left: 30px;
            &:first-child{
                margin-top: 0;
            }
            > i{
                font-size: 20px;
                @extend .main_color;
                position: absolute;
                top: 5px;
                left: 0;
            }
            @media screen and (max-width: 639px){ 
                margin-top: 15px;
                padding-left: 20px;
                > i{
                    top: 1.5px;
                }
            }
        }
    }
    .entry-item{
        h4{
            font-size: 19px;
            line-height: 28px;
            font-weight: 400;
            text-transform: uppercase;
            margin: 0;
            @media screen and (max-width: 979px){ 
                font-size: 16px;
                line-height: 24px;
            }
        }
        span{
            font-size: 13px;
            @extend .main_color;
            text-transform: uppercase;
            display: inline-block;
            margin-left: 10px;
            @media screen and (max-width: 639px){ 
                display: block;
                margin-left: 0;
            }
        }
    }
}
.module-article-list-3{
    .entry-item{
        .entry-thumb{
            width: 515px;
            float: left;
            margin: 0 60px 0 0;
        }
        .entry-content{
            overflow: hidden;
            > *{
                display: block;
                margin: 25px 0 0;
                @media screen and (max-width: 767px){ 
                    margin-top: 10px;
                }
                &:first-child{
                    margin: 0;
                }
            }
            > a{
                display: inline-block;
            }
        }
        h4{
            font-size: 32px;
            line-height: 40px;
            font-weight: 300;
            margin: -5px 0 15px;
            @media screen and (max-width: 979px){ 
                font-size: 22px;
                line-height: 30px;
            }
        }
        .entry-date{
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            color: #999;
        }
        .more-link{
            font-size: 14px;
            line-height: 22px;
            text-transform: uppercase;
            @extend .main_color;
            &:hover{
                color: #000;
            }
        }
        @media screen and (max-width: 979px){ 
            text-align: center;
            .entry-thumb{
                display: inline-block;
                float: none;
                margin: 0;
                @media screen and (max-width: 767px){ 
                    width: 100%;
                }
            }
            .entry-content{
                overflow: visible;
                margin-top: 50px;
                @media screen and (max-width: 767px){ 
                    margin-top: 20px;
                }
            }
        }
    }
}
.module-article-list-4{
    > .row{
        margin-top: -40px;
        > *{
            margin-top: 40px;
        }
    }
    .entry-item{
        .entry-content{
            > *{
                display: block;
                margin: 20px 0 0;
                &:first-child{
                    margin: 30px 0 0;
                }
            }
            > a{
                display: inline-block;
            }
        }
        h4{
            font-size: 19px;
            line-height: 28px;
            font-weight: 400;
            text-transform: uppercase;
            @media screen and (max-width: 979px){ 
                font-size: 16px;
                line-height: 24px;
            }
        }
        .entry-date{
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            color: #999;
        }
        .more-link{
            font-size: 14px;
            line-height: 22px;
            text-transform: uppercase;
            @extend .main_color;
            &:hover{
                color: #000;
            }
        }
    }
    iframe{
        height: 260px;
    }
    @media screen and (max-width: 767px){ 
        > .row{
            > *{
                width: 100%;
                .entry-thumb{
                    width: 320px;
                    float: left;
                    margin: 0 20px 0 0;
                }
                .entry-content{
                    overflow: hidden;
                    > *{
                        display: block;
                        margin: 10px 0 0;
                        &:first-child{
                            margin: 0;
                        }
                    }
                }
                @media screen and (max-width: 639px){ 
                    .entry-thumb{
                        width: 100%;
                        float: none;
                        margin: 0 0 20px 0;
                    }
                }
            }
        }
    }
}
.module-article-list-5{
    > ul{
        > *{
            margin-top: 55px;
            @media screen and (max-width: 639px){ 
                margin-top: 25px;
            }
            &:first-child{
                margin-top: 0;
            }
        }
    }
    .entry-item{
        > *{
            display: block;
            margin: 20px 0 0;
            @media screen and (max-width: 639px){ 
                margin: 10px 0 0;
            }
            &:first-child{
                margin: 0;
            }
        }
        > a{
            display: inline-block;
        }
        h4{
            font-size: 19px;
            line-height: 28px;
            font-weight: 400;
            text-transform: uppercase;
            @media screen and (max-width: 479px){ 
                font-size: 15px;
                line-height: 24px;
                font-weight: 600;
            } 
        }
        .entry-date{
            font-size: 12px;
            line-height: 20px;
            color: #999;
            text-transform: uppercase;
        }
        .more-link{
            font-size: 14px;
            line-height: 22px;
            text-transform: uppercase;
            @extend .main_color;
            &:hover{
                color: #000;
            }
        }
    }
}
.module-article-list-6{
    > ul{
        @extend .list_format;
        > li{
            @include list_t(15px, 15px, 1px dashed #e1e1e1);
        }
    }
    .entry-item{
        h4{
            font-size: 18px;
            line-height: 26px;
            font-weight: 600;
            text-transform: capitalize;
        }
        .entry-date {
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            color: #888;
            i{
                font-size: 16px;
                margin-right: 8px;
            }
        }
    }
}
.module-article-list-7{
    > ul{
        @extend .list_format;
        > li{
            margin-top: 25px;
        }
    }
    .entry-item{
        .entry-thumb{
            width: 80px;
            float: left;
            margin-right: 20px;
        }
        .entry-content{
            overflow: hidden;
        }
        .entry-date {
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            color: #888;
            i{
                font-size: 16px;
                margin-right: 8px;
            }
        }
        h4{
            font-size: 18px;
            line-height: 26px;
            font-weight: 600;
            text-transform: capitalize;
        }
    }
}

/*--- aod-module-client ---*/

.aod-carousel-2{
    margin: 0 -15px;
    // overflow: hidden;
    // &.has-nav{
    //     padding: 0 45px;
    //     .owl-btn-2{
    //         .owl-controls {
    //             .owl-buttons {
    //                 div {
    //                     &.owl-prev {
    //                         left: -30px;
    //                     }
    //                     &.owl-next {
    //                         right: -30px;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
    .item{
        padding: 18px 15px;
    }
    img{
        width: 100%;
        display: block;
        background: #fff;
        padding: 0px 15px;
    }
}
.aod-module-client{
    .module-content{
        overflow: hidden;
    }
    .owl-controls {
        opacity: 0;
        @media screen and (max-width: 1160px){ 
            opacity: 1;
        }
    }
}

/*--- aod-module-menu ---*/

.aod-module-menu{
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
    text-transform: uppercase;
    .module-content{
        > ul{
            > li{
                margin-top: 10px;
                &:first-child{
                    margin-top: 0;
                }
            }
        }
        @media screen and (max-width: 639px){ 
            > ul{
                margin: -10px -15px 0px;
                > li{
                    display: inline-block;
                    margin: 10px 15px 0px !important;
                }
            }
        }
    }

}

/*--- aod-module-social ---*/

.module-social-1{
    > ul{
        > li{
            margin-top: 15px;
            &:first-child{
                margin-top: 0;
            }
        }
    }
    @media screen and (max-width: 639px){ 
        > ul{
            margin: -15px -25px 0px !important;
            > li{
                display: inline-block;
                margin: 15px 25px 0px !important;
            }
        }
    }
    a{
        font-size: 13px;
        line-height: 22px;
        font-weight: 300;
        text-transform: uppercase;
        @extend .clearfix;
        display: block;
        i{
            @include icon(25px,25px,25px,16px);
            border-radius: 50%;
            @extend .main_bg_color;
            color: #fff;
            float: left;
            margin: 0 15px 0 0;
        }
    }
}

/*--- aod-module-address ---*/

.module-address-1{
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
    text-transform: uppercase;
    > ul{
        > li{
            margin-top: 25px;
            padding-left: 45px;
            &:first-child{
                margin-top: 0;
            }
            > i{
                position: absolute;
                top: -1px;
                left: 0;
                font-size: 25px;
                @extend .main_color;
            }
            p{
                margin: 0;
            }
        }
    }
    @media screen and (max-width: 639px){ 
        br{
            display: none;
        }
    } 
}


/*--- aod-module-team ---*/

.masonry-wrap{
    margin: 0 -1px !important;
}
.module-team-1{
    .item-thumb{
        overflow: hidden;
        /*--- 1 ---*/
        // img{
        //     filter: gray !important;
        //     filter: grayscale(100%) !important;
        //     @include transition(.4s);
        //     @media screen  and (min-width: 1399px) and (max-width: 1920px){ 
        //         width: auto;
        //         max-width: 200%;
        //     }
        // }
        // &:hover{
        //     img{
        //         filter: grayscale(0) !important;
        //         @include transition(.8s);
        //     }
        // }

        /*--- 2 ---*/
        // a{
        //     display: block;
        // }
        // img{
        //     &.test1{
        //         @extend .transition;
        //     }
        //     &.test{
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         opacity: 0;
        //         @extend .transition;
        //     }
        // }
        // &:hover{
        //     img{
        //         &.test1{
        //             opacity: 0;
        //         }
        //         &.test{
        //             opacity: 1;
        //         }
        //     }
        // }

        .BWFilter, .BWfade{
            z-index: 9;
        }
        img{
            @media screen  and (min-width: 1700px) and (max-width: 1920px){ 
                width: auto;
                max-width: 200%;
            }
        }
    }
    .item-content{
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px 15px;
        background: rgba(0,0,0,.65);
        @extend .white-text-style;
        z-index: 99;
    }
    h4{
        font-size: 22px;
        line-height: 30px;
        font-weight: 400;
        text-transform: uppercase;
    }
    @media screen and (max-width: 1600px){ 
        background: rgba(0,0,0,.8);
        .ms-item.col-md-3{
            width: 24.95%;
            @media screen and (max-width: 979px){ 
                width: 50%;
            }
        }
        .item-content{
            padding: 20px 15px;
        }
        h4{
            font-size: 16px;
            line-height: 24px;
        }
    }
    @media screen and (max-width: 799px){ 
        .ms-item.col-md-4{
            width: 33.311%;
        }
    }
    @media screen and (max-width: 639px){ 
        .ms-item{
            width: 100% !important;
        }
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .ms-item{
            &.col-md-4{
                width: 33.311%;
            }
            &.col-md-3{
                width: 24.95%;
            }
        }
    }
}

/*--- aod-module-timeline ---*/

.module-timeline-masonry{
    padding: 100px 50px;
    @media screen and (max-width: 1160px){ 
        padding: 0 10px 100px 0;
    }
    @media screen and (max-width: 639px){ 
        padding: 0 10px 50px 0;
    }
    .timeline-line{
        position: absolute;
        top: 0;
        left: 50%;
        @include translateX(-50%);
        width: 2px;
        height: 100%;
        background: #b5b5b5;
        &:before, &:after{
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            left: -4px;
            width: 10px;
            height: 10px;
            background: #b5b5b5;
            border-radius: 50%;
        }
        &:after{
            top: auto;
            bottom: 0;
        }
        @media screen and (max-width: 979px){ 
            left: 17px;
            @include translateX(0);
        }
        @media screen and (max-width: 639px){ 
            left: 8.5px;
        }
    }
    .timeline-content-wrap{
        position: relative;
        margin: -80px -100px 0;
        @extend .clearfix;
        @media screen and (max-width: 979px){ 
            margin: -50px 0 0;
        }
        // @media screen and (max-width: 639px){ 
        //     padding-top: 80px;
        // }
    }
    .tl-item{
        position: relative;
        width: 49.9%;
        float: left;
        padding: 0 100px 0;
        margin-top: 80px;
        &:nth-child(2n){
            .item{
                h4{
                    background: $color-002;
                    &:before{
                        background: $color-002;
                    }
                }
            }
        }
        &:nth-child(3n){
            .item{
                h4{
                    @extend .main_bg_color;
                    &:before{
                        @extend .main_bg_color;
                    }
                }
            }
        }
        &:nth-child(4n){
            .item{
                h4{
                    background: $color-001;
                    &:before{
                        background: $color-001;
                    }
                }
            }
        }
        &:nth-child(5n){
            .item{
                h4{
                    background: $color-005;
                    &:before{
                        background: $color-005;
                    }
                }
            }
        }
        &:nth-child(6n){
            .item{
                h4{
                    background: $color-002 !important;
                    &:before{
                        background: $color-002 !important;
                    }
                }
            }
        }
        &:nth-child(7n){
            .item{
                h4{
                    background: $color-005;
                    &:before{
                        background: $color-005;
                    }
                }
            }
        }
        &:nth-child(9n){
            .item{
                h4{
                    @extend .main_bg_color;
                    &:before{
                        @extend .main_bg_color;
                    }
                }
            }
        }
        .item{
            z-index: 9;
            color: #000;
            strong{
                font-size: 80px;
                line-height: 1em;
                display: block;
                color: #666;
                @media screen and (max-width: 639px){ 
                    font-size: 45px;
                }
            }
            h4{
                font-size: 32px;
                line-height: 40px;
                font-weight: 400;
                text-transform: capitalize;
                color: #fff;
                padding: 8px 15px 12px;
                @extend .main_bg_color;
                border-radius: 10px;
                margin: 12px 0 40px;
                &:before{
                    content: '';
                    display: block;
                    width: 100px;
                    height: 1px;
                    @extend .main_bg_color;
                    position: absolute;
                    right: -100px;
                    top: 50%;
                    margin-top: -.5px;
                }
                &:after{
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 3px;
                    right: 3px;
                    bottom: 3px;
                    left: 3px;
                    border: 1px dashed #fff;
                    border-radius: 10px;
                    @include scale(1.2);
                    opacity: 0;
                    @extend .transition;
                }
                &:hover{
                    &:after{
                        @include scale(1);
                        opacity: 1;
                    }
                }
                .icon{
                    @include icon(36px,36px,36px,14px);
                    background: #fff;
                    border: 5px solid #888;
                    border-radius: 50%;
                    position: absolute;
                    right: -120px;
                    top: 50%;
                    @include translateY(-50%);
                }
                @media screen and (max-width: 979px){ 
                    &:before{
                        left: -100px;
                        right: auto;
                    }
                    .icon{
                        left: -100px;
                        right: auto;
                    }
                }
                @media screen and (max-width: 639px){ 
                    font-size: 22px;
                    line-height: 30px;
                    padding: 5px 10px 9px;
                    border-radius: 5px;
                    margin: 20px 0;
                    &:before{
                        width: 50px;
                        left: -50px !important;
                        @media screen and (max-width: 479px){ 
                            width: 35px;
                            left: -35px !important;
                        } 
                    }
                    &:after{
                        border-radius: 5px;
                    }
                    .icon{
                        left: -50px !important;
                        width: 20px;
                        height: 20px;
                        border-width: 3px;
                        @media screen and (max-width: 479px){ 
                            left: -35px !important;
                        } 
                    }
                }
            }
            .item-content{
                text-align: justify;
                line-height: 26px;
            }
        }
        &.style-01{
            .item{
                h4{
                    &:before{
                        right: auto;
                        left: -100px;
                    }
                    .icon{
                        right: auto;
                        left: -116px;
                        @media screen and (max-width: 979px){ 
                            left: -100px;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 979px){ 
            width: 100%;
            float: none;
            padding: 0 0 0 100px;
            margin-top: 50px;
            @media screen and (max-width: 639px){ 
                padding: 0 0 0 50px;
            }
            @media screen and (max-width: 479px){ 
                padding: 0 0 0 35px;
            }
        }
    }
}

/*--- aod-module-career ---*/

.aod-module-career{
    .module-content{
        font-size: 15px;
        color: #000;
    }
    .content{
        @media screen and (max-width: 979px){
            > .row{
                >*{
                    width: 100%;
                }
            }
        }
        p.text-capitalize{
            font-size: 18px;
            line-height: 26px;
            font-weight: 600;
            margin-bottom: 18px;
        }
    }
}

/**
 * 3.2 Home page
 * -------------------------------------------------------------------
 */


/*--- live-chat-box ---*/

.live-chat-box{
    position: fixed;
    right: 0;
    top: 180px;
    padding-right: 390px;
    z-index: 99999;
    @include translateX(390px);
    @include transition(.5s ease);
    &.active{
        @include translateX(0);
    }
    .sj-dropdown-btn{
        top: -1px;
        img{
            &:last-of-type{
                display: none;
            }
        }
    }
    .sj-dropdown-content{
        position: absolute;
        top: 0;
        right: 0;
        width: 390px;
        padding: 25px 30px;
        background: #5f8900;
        border-radius: 0 0 0 10px;
        @extend .list_reset;
        @extend .white-text-style;
        @media screen and (max-width: 479px){ 
            width: 300px;
            padding: 15px 10px;
            font-size: 14px;
            line-height: 22px;
        }
        ul{
            margin: 0;
        }
        a{
            color: #fff !important;
            &:hover{
                text-decoration: underline !important;
            }
        }
    }
    @media screen and (max-width: 979px){ 
        right: auto;
        top: auto;
        left: 10px;
        bottom: 34px;
        padding-right: 0;
        @include translateY(100%);
        &.active{
            @include translateY(34px);
        }
        @media screen and (max-width: 479px){ 
            bottom: 26.5px;
            &.active{
                @include translateY(26.5px);
            }
        }
        .sj-dropdown-btn{
            top: auto;
            max-width: 30%;
            img{
                display: none;
                &:last-of-type{
                    display: block;
                }
            }
        }
        .sj-dropdown-content{
            position: relative;
            top: auto;
            right: auto;
            border-radius: 0 10px 0 0;
        }
    }
}
.live-chat-content{
    >*{
        margin-top: 30px;
        &:first-child{
            margin-top: 0;
        }
    }
    h4{
        font-size: 21px;
        line-height: 30px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .contact-list{
        > *{
            padding-left: 45px;
            margin-top: 15px;
            min-height: 28px;
            &:first-child{
                margin-top: 0;
            }
            > i{
                position: absolute;
                top: 2px;
                left: 0;
                font-size: 24px;
            }
        }
        p{
            margin: 0;
        }
    }
    .phone-list{
        li{
            span{
                display: inline-block;
                min-width: 120px;
            }
        }
    }
    @media screen and (max-width: 479px){ 
        >*{
            margin-top: 15px;
            &:first-child{
                margin-top: 0;
            }
        }
        h4{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 10px;
        }
        .contact-list{
            > *{
                padding-left: 30px;
                margin-top: 5px;
                min-height: 0;
                > i{
                    top: 5px;
                    font-size: 12px;
                    opacity: .7;
                }
            }
        }
        .phone-list{
            li{
                span{
                    min-width: 105px;
                }
            }
        }
    }
}

/*--- contact-box-notice ---*/

.contact-box-notice{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 50px;
    z-index: -999;
    opacity: 0;
    @include  transition(.5s ease);
    &.active{
        z-index: 999999;
        opacity: 1;
        @include translateY(-30px);
    }
    .container{
        > div{
            display: inline-block;
            padding: 15px 60px 15px 30px;
            background: rgba(255,255,255,.9);
            font-style: italic;
            i{
                @extend .main_color;
                margin-right: 8px;
            }
        }
    }   
    .close-btn{
        cursor: pointer;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        position: absolute;
        top: 10px;
        right: 10px;
        @extend .transition;
        &:hover{
            color: #000;
        }
    }
}

/**
 * 3.3 Sub page
 * -------------------------------------------------------------------
 */

/*--- entry-single-post ---*/

.entry-single-post{
    > header{
        h1{
            font-size: 32px;
            line-height: 40px;
            font-weight: 400;
        }
        p.entry-date{
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            @extend .main_color;
        }
    }
    .entry-content{
        margin-top: 40px;
        &:first-child{
            margin-top: 0;
        }
        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
            font-weight: 500;
        }
        a{
            opacity: .7;
        }
        img{
            margin: 30px 0 0;
        }
    }
    img.alignleft{
        margin: 10px 70px 40px 0;
    }
    img.alignright{
        margin: 10px 0 40px 70px;
    }
    @media screen and (max-width: 639px){ 
        > header{
            h1{
                font-size: 22px;
                line-height: 30px;
            }
            p.entry-date{
                font-size: 13px;
            }
        }
        .entry-content{
            margin-top: 20px;
        }
        img.alignleft{
            margin: 10px 20px 20px 0;
        }
        img.alignright{
            margin: 10px 0 20px 20px; 
        }
    }
    @media screen and (max-width: 479px){ 
        br ~ br{
            display: none;
        }
        img.alignleft, img.alignright{
            float: none;
            margin: 0 0 15px 0;
        }
    }
}




/**
* 3.4 - Sidebar / .sidebar
* -------------------------------------------------------------------
*/



.aod-main-content {
    .sidebar {
        .module {
            margin-bottom: 60px !important;
            &:last-child{
                margin-bottom: 0 !important;
            }
        }
    }
}
.main-col, .sidebar{
    @media screen and (max-width: 979px){ 
        width: 100%;
        margin-top: 60px;
        &:first-child{
            margin-top: 0;
        }
    }
}

/**
* 3.5 - Bottom sidebar / #bottom-sidebar
* -------------------------------------------------------------------
*/

.aod-bottom-sidebar { 
    padding: 110px 0;
    background: #353535;
    @extend .white-text-style;
    .container{
        > .row{
            margin-top: -90px;
            > *{
                margin-top: 90px;
            }
            @media screen and (max-width: 979px){ 
                > *{
                    width: 50%;
                    @media screen and (max-width: 639px){ 
                        width: 100%;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 639px){ 
        padding: 50px 0;
        .container{
            > .row{
                margin-top: -50px;
                > *{
                    margin-top: 50px;
                }
            }
        }
    }
    a{
        color: rgba(255,255,255,.7);
        &:hover{
            @extend .main_color;
        }
    }
    span, p{
        color: rgba(255,255,255,.7);
    }
}


/**
 * 4. Footer
 * -----------------------------------------------------------------------------
 */

.aod-footer{
    padding: 15px 0;
    background: #303030;
    @extend .white-text-style;
    span, p{
        color: rgba(255,255,255,.7);
    }
}
.aod-copyright{
    font-size: 17px;
    line-height: 26px;
    font-weight: 300;
    @media screen and (max-width: 979px){ 
        font-size: 14px;
        line-height: 22px;
    }
}
.scrollup {
    z-index: 9999;
    @include icon(46px, 46px, 46px, 14px);
    text-transform: capitalize;
    position: fixed;
    right: 40px; 
    bottom: 40px;
    color: #fff !important;
    @extend .main_bg_color;
    &:hover {
        background: #000;
    }
    @media screen and (max-width: 1600px){ 
        right: 10px; 
        bottom: 20px;
    }
    @media screen and (max-width: 979px){ 
        @include icon(30px, 30px, 30px, 14px);
        bottom: 0;
    }
}

/*--- Firefox ---*/ 

@-moz-document url-prefix() {

}

/**
 * 5. - Color
 * -------------------------------------------------------------------
 */

.main_color {
    color: $color-main;
}
.main_bg_color {
    background: $color-main;
}
body{
    .main_bd_color {
        border-color: $color-main;
    }
    .main_bdt_color {
        border-top-color: $color-main;
    }
    .main_bdr_color {
        border-right-color: $color-main;
    }
    .main_bdb_color {
        border-bottom-color: $color-main;
    }
    .main_bdl_color {
        border-left-color: $color-main;
    }
}
.i_main_color {
    color: $color-main !important;
}
.i_main_bg_color {
    background: $color-main !important;
}
.i_main_bd_color {
    border-color: $color-main !important;
}

@media screen and (max-width: 1160px){ 
    .module-slider-1{
        .owl-btn-1{
            .owl-controls {
                .owl-pagination {
                    .owl-page {
                        span {
                            border-color: $color-main !important;
                        }
                    }
                }
            }
        }
    }
}

/** 
 * 6. - Responsive
 * -------------------------------------------------------------------
 */

@import "sass/responsive";